<div class="container" style="margin-top: 20px;">
    <div class="col-md-9 col-sm-12 col-xs-12 col-md-push-3">
        <div class="box-content-left-fix border-content-product">
            <div class="b-outer-sp">
                <div class="bg-gach-sp">
                    <div class="bg-title-sp">
                        <h1>Chi tiết sản phẩm</h1>
                    </div>
                </div>
                <div class="b-product">
                    <div class="row-fluid">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div style="">
                                <div class="khung_chitiet_sp" style="width: 100%; margin-right: 0px;" >
                                    <img id="img_01" src="{base_url()}_thumbs/{$product.img}" data-zoom-image="{base_url()}_thumbs/{$product.img}"/>
                                    <div id="gallery_01" class="owl-carousel owl-theme owl-nav-circle">
                                        {foreach $product_file as $prd}
                                        <div class="item">
                                            <a href="#" data-image="{base_url()}_thumbs/{$prd['file']}" data-zoom-image="{base_url()}_thumbs/{$prd['file']}">
                                                <img id="img_01" class="imgdt" src="{base_url()}_thumbs/{$prd['file']}" />
                                            </a>
                                        </div>
                                        {/foreach}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="title_sanpham_chitiet" style="padding-left: 10px;">
                                <div class="row-fluid border-bt">
                                    <div class="span3">Đơn giá bán:</div>
                                    <div class="span9" style="font-size: 14px; color: red; font-weight: bold;">
                                        {number_format($product.new_price)} VNĐ
                                        <span style="font-size: 13px; color: #333;">
												Giảm {$sale} %
												</span>
                                    </div>
                                </div>
                                <div class="row-fluid border-bt">
                                    <div class="span3">Giá thị trường:</div>
                                    <div class="span9" style="text-decoration: line-through;">
                                        {number_format($product.old_price)} VNĐ
                                    </div>
                                </div>
                                <div class="row-fluid border-bt">
                                    <div class="span3">Model:</div>
                                    <div class="span9">{$product.code}</div>
                                </div>
                                <div class="row-fluid border-bt">
                                    <div class="span3">Tình trạng:</div>
                                    <div class="span9">
                                        {if $product.no==1}
                                        Hết hàng
                                        {else}
                                        Còn hàng
                                        {/if}
                                    </div>
                                </div>
<!--                                <div class="row-fluid border-bt">-->
<!--                                    <div class="span3">Mua hàng:</div>-->
<!--                                    <div class="span9">-->
<!--                                        <div class="form-muahang">-->
<!--                                            <form method="post" action="http://dienlanhththinhphat.com.vn/mua-hang/204">-->
<!--                                                <select name="slg" class="form-control">-->
<!--                                                    <option value="1">1</option>-->
<!--                                                    <option value="2">2</option>-->
<!--                                                    <option value="3">3</option>-->
<!--                                                    <option value="4">4</option>-->
<!--                                                    <option value="5">5</option>-->
<!--                                                    <option value="6">6</option>-->
<!--                                                    <option value="7">7</option>-->
<!--                                                    <option value="8">8</option>-->
<!--                                                    <option value="9">9</option>-->
<!--                                                    <option value="10">10</option>-->
<!--                                                    <option value="11">11</option>-->
<!--                                                    <option value="12">12</option>-->
<!--                                                    <option value="13">13</option>-->
<!--                                                    <option value="14">14</option>-->
<!--                                                    <option value="15">15</option>-->
<!--                                                    <option value="16">16</option>-->
<!--                                                    <option value="17">17</option>-->
<!--                                                    <option value="18">18</option>-->
<!--                                                    <option value="19">19</option>-->
<!--                                                    <option value="20">20</option>-->
<!--                                                    <option value="21">21</option>-->
<!--                                                    <option value="22">22</option>-->
<!--                                                    <option value="23">23</option>-->
<!--                                                    <option value="24">24</option>-->
<!--                                                    <option value="25">25</option>-->
<!--                                                    <option value="26">26</option>-->
<!--                                                    <option value="27">27</option>-->
<!--                                                    <option value="28">28</option>-->
<!--                                                    <option value="29">29</option>-->
<!--                                                    <option value="30">30</option>-->
<!--                                                    <option value="31">31</option>-->
<!--                                                    <option value="32">32</option>-->
<!--                                                    <option value="33">33</option>-->
<!--                                                    <option value="34">34</option>-->
<!--                                                    <option value="35">35</option>-->
<!--                                                    <option value="36">36</option>-->
<!--                                                    <option value="37">37</option>-->
<!--                                                    <option value="38">38</option>-->
<!--                                                    <option value="39">39</option>-->
<!--                                                    <option value="40">40</option>-->
<!--                                                    <option value="41">41</option>-->
<!--                                                    <option value="42">42</option>-->
<!--                                                    <option value="43">43</option>-->
<!--                                                    <option value="44">44</option>-->
<!--                                                    <option value="45">45</option>-->
<!--                                                    <option value="46">46</option>-->
<!--                                                    <option value="47">47</option>-->
<!--                                                    <option value="48">48</option>-->
<!--                                                    <option value="49">49</option>-->
<!--                                                    <option value="50">50</option>-->
<!--                                                </select>-->
<!--                                                <input type="submit" class="btn btn-primary" value="Mua hàng">-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="row-fluid border-bt">
                                    <div class="span3">Thông tin:</div>
                                    <div class="span9">
                                        <div style="border: 1px solid #efefef; padding: 8px; margin-right: 8px;">
                                            {$product.more}
                                        </div>
                                    </div>
                                </div>
                                <div class="clear-content"></div><div class="clear-content"></div>
                                <div class="clear-content"></div><div class="clear-content"></div><div class="clear-content"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="box-content-left-fix border-content-product">
            <div class="b-outer-sp">
                <div class="bg-gach-sp">
                    <div class="bg-title-sp">
                        <label>Nội dung</label>
                    </div>
                </div>
            </div>
            <div class="b-product">
                <div class="ct-tt"><div class="clear-content"></div><div class="clear-content"></div>
                    {$product.content}
                    <div class="clear-content"></div><div class="clear-content"></div>
                </div>
            </div>
        </div>
        <div class="box-content-left-fix border-content-product">
            <div class="b-outer-sp">
                <div class="bg-gach-sp">
                    <div class="bg-title-sp">
                        <label>Sản phẩm liên quan</label>
                    </div>
                </div>
            </div>
            <div class="b-product">
                <div class="row ul">
                    {foreach $relatedProduct as $item}
                    <div class="col-md-3 col-xs-6 li">
                        <div class="b-lproh12 b-fixlproh">
                            <div class="b-img-lproh12 b-img-fixlproh">
                                <div id="imgsp">
                                    {anchor($item.slug,img(['src'=>'_thumbs/'|cat:$item.img, 'alt'=>$item.name, 'width'=>'100%', 'class'=>'ahnsp']))}
                                </div>
                                <h3>{anchor($item.slug,$item.name)}</h3>
                                <div class="b-hover-gia">
                                    <p class="b-giagia">{number_format($item.new_price)} VNĐ</p>
                                    <p class="giathitruong">{number_format($item.old_price)} VNĐ</p>
                                </div>
                                <!--                                <div id="muangay">-->
                                <!--                                    <a href="#">Mua ngay</a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </div>
                <div class="clear-main"></div>
            </div>
        </div>
        {script_tag('template/dieuhoa/js/jquery.fancybox.js')}

        {link_tag('template/dieuhoa/css/jquery.fancybox.css')}
        {script_tag('template/dieuhoa/js/jquery.elevateZoom-3.0.8.min.js')}
        {script_tag('template/dieuhoa/js/jquery.elevatezoom.js')}

        <script>
            $("#img_01").elevateZoom({
                gallery:'gallery_01',
                cursor: 'pointer',
                galleryActiveClass: 'active',
                scrollZoom : true
            });

            //pass the images to Fancybox
            $("#img_01").bind("click", function(e) {
                var ez =   $('#img_01').data('elevateZoom');
                $.fancybox(ez.getGalleryList());
                return false;
            });
            jQuery("#gallery_01").owlCarousel({
                autoPlay: 5000,
                items : 4, //10 items above 1000px browser width
                itemsDesktop : [1024,4], //5 items between 1024px and 901px
                itemsDesktopSmall : [900,5], // 3 items betweem 900px and 601px
                itemsTablet: [600,3], //2 items between 600 and 0;
                itemsMobile : [320,2],
                navigation : true,
                slideSpeed : 500,
                pagination : false
            });
        </script>
    </div>
    {include file="sidebar.phtml"}
</div>
{include file="partner.phtml"}