<div class="container" style="margin-top: 20px;">
    <div class="bg-content col-md-9 col-xs-12 col-md-push-3">
        <div class="box-content-left-fix border-content-product">
            <div class="b-outer-sp">
                <div class="bg-gach-sp">
                    <div class="bg-title-sp">
                        <h1>{$content_menu.name}</h1>
                    </div>
                </div>
            </div>
            <div class="b-listproductfix">
                <div class="row ul">
                    {foreach $rows as $item}
                    <div class="col-md-3 col-xs-6 li">
                        <div class="b-lproh12 b-fixlproh">
                            <div class="b-img-lproh12 b-img-fixlproh">
                                <div id="imgsp">
                                    {anchor($item.slug,img(['src'=>'_thumbs/'|cat:$item.img, 'alt'=>$item.name, 'width'=>'100%', 'class'=>'ahnsp']))}
                                </div>
                                <h3>{anchor($item.slug,$item.name)}</h3>
                                <div class="b-hover-gia">
                                    <p class="b-giagia">{number_format($item.new_price)} VNĐ</p>
                                    <p class="giathitruong">{number_format($item.old_price)} VNĐ</p>
                                </div>
                                <!--                                <div id="muangay">-->
                                <!--                                    <a href="#">Mua ngay</a>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </div>

                <div class="clear-main"></div>
            </div>
        </div>
        <div class="pages-collection">
            <ul class="pagination">
                {$pagination}
            </ul>
        </div>
    </div>
    {include file="sidebar.phtml"}
</div>
{include file="partner.phtml"}