<div class="container" style="margin-top: 20px;">
    <div class="bg-content col-md-9 col-xs-12 col-md-push-3">
        {if count($rows)>0}
        <div class="box-content-left-fix border-content-product">
            <div class="b-outer-sp">
                <div class="bg-gach-sp">
                    <div class="bg-title-sp">
                        <h1>Điều hòa</h1>
                    </div>
                </div>
            </div>
            <div class="b-listproductfix">
                <div class="row ul">
                    {foreach $rows as $item}
                    <div class="col-md-3 col-xs-6 li">
                        <div class="b-lproh12 b-fixlproh">
                            <div class="b-img-lproh12 b-img-fixlproh">
                                <div id="imgsp">
                                    {anchor($item.slug,img(['src'=>'_thumbs/'|cat:$item.img, 'alt'=>$item.name, 'width'=>'100%', 'class'=>'ahnsp']))}
                                </div>
                                <h3>{anchor($item.slug,$item.name)}</h3>
                                <div class="b-hover-gia">
                                    <p class="b-giagia">{number_format($item.new_price)} VNĐ</p>
                                    <p class="giathitruong">{number_format($item.old_price)} VNĐ</p>
                                </div>
<!--                                <div id="muangay">-->
<!--                                    <a href="#">Mua ngay</a>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </div>

                <div class="clear-main"></div>
            </div>
        </div>
        <div class="pages-collection">
            <ul class="pagination">
                {if $page != 1}
                <li><a href="{base_url('search')}?query={$query}"><<<</a></li>
                {/if}
                {if $page > 1}
                <li><a href="{base_url('search')}?query={$query}&page={$page - 1}"><<</a></li>
                {/if}
                <li class='active'><a href=''>{$page}</a></li>
                {if $page < $total_page}
                <li><a href="{base_url('search')}?query={$query}&page={$page + 1}">>></a></li>
                {/if}
                {if $page != $total_page}
                <li><a href="{base_url('search')}?query={$query}&page={$total_page}">>>></a></li>
                {/if}
            </ul>
        </div>
        {else}
        <h1 class="entry-title">Không tìm thấy kết quả cho <strong style="color: red">{$query}</strong></h1>
        <div class="entry-divider is-divider"></div>
        {/if}
    </div>
    {include file="sidebar.phtml"}
</div>
{include file="partner.phtml"}