<div class="container" style="margin-top: 20px;">
    <div class="bg-content col-md-9 col-sm-12 col-xs-12 col-md-push-3">
        <div class="v2_bnc_news_details_view">
            <div class="v2_bnc_news_details_title">
                <h1>{$new.name}</h1>
                <time class="v2_bnc_create_time"><i class="fa fa-calendar-o"></i> Ngày đăng : {$new.create_time}</time>
            </div>
        </div>
        <div class="v2_bnc_news_details_post">
            {$new.content}
        </div>
    </div>
    {include file="sidebar.phtml"}
</div>
{include file="partner.phtml"}