<div class="container" style="margin-top: 20px;">
    <div class="bg-content col-md-9 col-sm-12 col-xs-12 col-md-push-3">
        <div class="b-outer-sp">
            <div class="bg-gach-sp">
                <div class="bg-title-sp">
                    <h1>Tin tức</h1>
                </div>
            </div>
        </div>
        <div class="news_page_body">
            <div class="news_page_list">
                {foreach $rows as $item}
                <div class="news_list_item">
                    <div class="row">
                        <div class="v2_bnc_news_list_img col-md-4 col-sm-5 col-xs-5 full-xs">
                            {anchor($item.alias,img(['src'=>'_thumbs/'|cat:$item.img, 'alt'=>$item.name, 'width'=>'100%']))}
                        </div>
                        <div class="v2_bnc_news_list_details col-md-8 col-sm-7 col-xs-7 full-xs">
                            <h3>
                                {anchor($item.alias,$item.name)}
                            </h3>
                            <time class="v2_bnc_create_time"><i class="fa fa-calendar-o"></i> Ngày đăng : {$item.create_time}</time>
                            <div class="v2_bnc_news_list_summary">
                                {$item.more}
                            </div>
                        </div>

                    </div>
                </div>
                {/foreach}
            </div>
            <div class="pages-collection">
                <ul class="pagination">
                    {$pagination}
                </ul>
            </div>
        </div>
    </div>
    {include file="sidebar.phtml"}
</div>
{include file="partner.phtml"}