<div class="wrapper" class="clearfix">
    <div id="blog-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-push-3">
                    <div class="blog-main">
                        <div class="post-title">
                            <h1>Tin mới</h1>
                        </div>
                        <div class="post-content">
                            <div class="row">
                                {foreach $rows as $item}
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="post-article-item">
                                        <div class="post-article-img">
                                            <a href="{base_url()}{$item.alias}">
                                                <img src="{base_url()}images/{$item.img}" width="100%;">
                                            </a>
                                        </div>
                                        <div class="post-article-info">
                                            <h3><a href="{base_url()}{$item.alias}">{$item.name}</a></h3>
                                            <p class="post-time"><span class="author">Admin</span> <span>{date('d-m-Y',strtotime($item.create_time))}</span></p>
                                            <div class="post-des">
                                                {$item.more}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {/foreach}
                            </div>
                            <div class="pages">
                                <ul class="pagination">
                                    {$pagination}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {include file="sidebar.phtml"}
            </div>
        </div>
    </div>
</div>