<section class="main-index">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div id="content">
                    <div id="bread-crumb">
                        <div class="box-2">
                            <i class="fa fa-home"></i> {anchor('', 'Trang chủ')}
                            {if $detail.parent_id > 0}
                            <span>&gt;</span>
                            {anchor($parent_cate.alias, $parent_cate.name)}
                            {/if}
                            <span>&gt;</span> {$detail['name']}
                        </div>
                    </div>

                    <div class="page-title">
                        <h1>{$detail['name']}</h1>
                    </div>
                    
                    <div class="descriptions">
                        {$detail.content}
                    </div>
                    {include file="support.phtml"}

                    {foreach $rows as $item}
                    <div class="item_block clearfix">
                        <div class="item_head">
                            <h3>{anchor($item['alias'], $item['name'])}</h3>
                        </div>
                        <div class="thumb">{anchor($item['alias'],img(['src'=>'images/'|cat:$item.img, 'alt'=>$item.name, 'width'=>'100%']))}</div>
                        <div class="sapo">
                            {$item['more']}
                        </div>
                        <div class="spec">
                            <i>•</i> Phong cách : {anchor('phong-cach-thiet-ke-'|cat:$item['alias_style'],$item['name_style'])}
                        </div>
                    </div>
                    {/foreach}

                    {if isset($config)}
                    <div id="page" class="clearfix">
                        <div class="i">
                            {$this->pagination->initialize($config)}
                            {$this->pagination->create_links()}
                        </div>
                    </div>
                    {/if}
                    {if count($rows) > 0 && !empty($rows)}
                    {include file="support.phtml"}
                    {/if}
                </div>
            </div>
            {include file="right.phtml"}
        </div>
    </div>
</section>