<section class="main-index">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div id="content">
                    <div id="bread-crumb">
                        <div class="box-2">
                            <i class="fa fa-home"></i> {anchor('', 'Trang chủ')}
                            <span>&gt;</span> Dự án đã triển khai
                        </div>
                    </div>



                    {foreach $rows as $item}
                    <div class="item_block clearfix">
                        <div class="item_head">
                            <h3>{anchor('du-an/'|cat:$item['alias'], $item['name'])}</h3>
                        </div>
                        <div class="thumb">{anchor('du-an/'|cat:$item['alias'],img(['src'=>'images/'|cat:$item.img, 'alt'=>$item.name, 'width'=>'100%']))}</div>
                        <div class="sapo">
                            {$item['more']}
                        </div>
                        <div class="spec">
                            <i>•</i> Lĩnh vực : {anchor($item['alias_cate'],$item['name_cate'])} 
                            <i>•</i> Phong cách : {anchor('phong-cach-thiet-ke-'|cat:$item['alias_style'],$item['name_style'])}
                            <i>•</i> Chi phí : <a>{$item['price']}</a>
                        </div>
                    </div>
                    {/foreach}


                    {if isset($config)}
                    <div id="page" class="clearfix">
                        <div class="i">
                            {$this->pagination->initialize($config)}
                            {$this->pagination->create_links()}
                        </div>
                    </div>
                    {/if}

                </div>
            </div>
            {include file="right.phtml"}
        </div>
    </div>
</section>