<div class="content-venoidia">
	<div class="directional">
		<div class="container">
			<div class="row">
				<p>{anchor('', 'Trang chủ')}<span> > {$about.name}</span></p>
			</div>
		</div>
	</div>
	<!-- đặt vé -->
	<div class="datve">
		<div class="container">
			<div class="row content-datve">



				<div class="datve-noidia">
					<div class="col-sm-6 col-md-8 col-lg-8 datve-noidia-left">
						{$about.html}
					</div>
					<div class="col-sm-4 col-md-4 col-lg-4 datve-noidia-right">
						<div class="quangcao">
							<h3>quảng cáo</h3>
							{foreach $adv as $row}
							<p><a href="{$row.link}"><img src="{base_url()}{$row.img}" class="img-responsive" alt="{$row.name}"></a></p>
							{/foreach}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>