{include file="banner.phtml"}
<div class="container">

	<div class="row">
		<div class="col-sm-9 col-md-9 col-lg-9 news-detail">
			<div class="space">
				<ul>
					<li>{anchor('', 'Trang chủ')}</li>
					<li>»</li>
					<li>{anchor('tin-tuc', 'Tin tức')}</li>
					<li>»</li>
					<li>{$detail_news.name}</li>
				</ul>
			</div>
			<a href="#">{$detail_news.name}</a>
			<p><i>Đăng bởi: admin - {$detail_news.create_time}</i></p>


			<p>{$detail_news.content}</p>

		</div>
		<div class="col-sm-3 col-md-3 col-lg-3 popular-posts">
			<div class="space">
				<p>Tin nổi bật</p>
			</div>
			<ul>
				{foreach $newstop as $item}
				<li>
					<i class="fa fa-circle"></i><a href="{base_url()}chi-tiet-tin-tuc/{$item.id}/{convert_accented_characters($item.name)}.html">{$item.name}</a>
					<p><i>Ngày đăng {$item.create_time}</i></p>
				</li>
				{/foreach}	
			</ul>
		</div>
	</div>
</div>