<head>
    <link rel="icon" href="{base_url()}favicon.png">
<!--    {script_tag('template/frontend/catalog/view/theme/default/js/jquery.js')}-->
    {link_tag('template/frontend/catalog/view/theme/default/css/style.css')}
    <title>{$newDetail.meta_title}</title>
    <meta name="description" content="{$newDetail.meta_descriptions}">
</head>
<body id="my-news" style="overscroll-behavior: contain;">
<div class="news-text mytext" id="content">
    {$newDetail.content}
</div>
<script>
    var base_url = '{base_url()}';
    var width = window.innerWidth;
    if (width < 1101) {
        document.onkeydown = function(){
            switch (event.keyCode){
                case 116 : //F5 button
                    event.returnValue = false;
                    event.keyCode = 0;
                    return false;
                case 13 : //F5 button
                    event.returnValue = false;
                    event.keyCode = 0;
                    return false;
                case 82 : //R button
                    if (event.ctrlKey){
                        event.returnValue = false;
                        event.keyCode = 0;
                        return false;
                    }
            }
        }

    }
    function goBack() {
        window.location.href = base_url+'tin-tuc-su-kien.html';
    }

</script>

</body>
<style>
    body {
        /* Disables pull-to-refresh and overscroll glow effect.
           Still keeps swipe navigations. */
        overscroll-behavior-y: none;
    }
</style>