<footer class="footer">
   <div class="bottom">
<div class="bottom-bg"></div>
<!--HOTLINE-->

<!--HOTLINE-->
<!--BOTTOM-CENTER-->
<div class="bottom-center">
<!--VIDEO-->
<div class="video-icon">
<span class="video"></span>
<a class="play-video" href="javascript:void(0);" data-href="https://mydinhpearl.com.vn/view-video.html?id=14">Video</a>
<g></g>
</div>
<!--VIDEO-->
<!--SUBSCRIBE-->
  {if ($alias != 'home')}
        <div class="subscribe-icon"><a href="javascript:void(0);">Nhận thông tin dự án</a></div>
        {/if}
<!--SUBSCRIBE-->
</div>
<!--BOTTOM-CENTER-->
<div class="hotline">
<a class="call-number" href="tel:0966662202">1800 2202</a>
<span class="call"></span>
<a class="call-number" href="tel:0966662202">09 6666 2202</a>
</div>
</div>
</footer>
<!--FOOTER-->
<div class="overlay-menu"></div>
<div class="whell"></div>
<div class="go-top"></div>
<div class="scroll-down"></div>
<div class="mask"></div>
<!--<div class="httpserver class-hidden">{base_url()}</div>-->
<!--<div class="httptemplate class-hidden">--><?php //echo $url; ?><!--/catalog/view/theme/</div>-->
<div class="text-close class-hidden">close</div>
