    <!--LOGO-->
    <div class="logo vi"></div>
    <!--LOGO--><div class="nav-click"></div>
   <!--TOP-->
	<div class="top">
	
    <!--NAVIGATION-->
    <div class="navigation">
        <div class="nav">
            <ul>
                {foreach $menu as $item}
                <li><a class="link-load" href="{base_url()}{$item.slug}.html" data-name="home-page"
                       data-title="{$item.meta_title}"
                       data-description="{$item.meta_description}"
                       data-keyword="{$item.meta_keywords}">{$item.name}</a></li>
                {/foreach}
            </ul>
        </div>
        <span></span>
    </div>
    <!--NAVIGATION-->
	</div>