<!DOCTYPE HTML>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="cache-control" content="private">
    <meta http-equiv="Content-Language" content="vi">
    <meta name="google" content="notranslate">
    <meta name="language" content="vi_VN">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Florence Mỹ Đình - Nơi thịnh vượng an vui">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title id="hdtitle">{$seo.meta_title}</title>
    <meta name="description" content="{$seo.meta_description}">
    <meta name="keywords" content="{$seo.meta_keywords}">
    <!-- android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="cleartype" content="on">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{$seo.meta_title}">
    <!-- Facebook -->
    <meta property="og:url" content="{current_url()}">
    <meta property="og:title" content="{$meta_title}">
    <meta property="og:description" content="{$meta_description}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{$meta_title}">
    <meta property="og:image" content="{base_url()}images/{$meta_image}">
    <meta property="og:locale" content="vi_VN">
    <!-- Google Plus -->
    <meta itemprop="name" content="{$seo.meta_title}">
    <meta itemprop="description" content="{$seo.meta_title}">
    <meta itemprop="image" content="{base_url()}/images/{$ext.logo.img}">
    <link rel="icon" href="{base_url()}favicon.png">
    {link_tag('template/frontend/catalog/view/theme/default/base/bootstrap/scss/bootstrap.css')}
    {link_tag('template/frontend/catalog/view/theme/default/base/css/animate.css')}
    {link_tag('template/frontend/catalog/view/theme/default/base/css/owl.carousel.min.css')}
    {link_tag('template/frontend/catalog/view/theme/default/base/css/owl.theme.default.min.css')}
    {link_tag('template/frontend/catalog/view/theme/default/base/css/normalize.css')}
    {link_tag('template/frontend/catalog/view/theme/default/dist/css/lightgallery.css')}
    {link_tag('template/frontend/catalog/view/theme/default/base/css/peral.css')}
    <!-- {link_tag('template/frontend/catalog/view/theme/default/css/docs.theme.min.css')} -->
    {link_tag('template/frontend/catalog/view/theme/default/css/owl.carousel.min.css')}
    {link_tag('template/frontend/catalog/view/theme/default/css/owl.theme.default.css')}
    {link_tag('template/frontend/catalog/view/theme/default/css/style.css')}

    <link rel="alternate" href="{base_url()}" hreflang="vi-vn">
    <link href="{base_url()}" rel="canonical">
    {link_tag('template/frontend/catalog/view/theme/default/css/validationEngine.jquery.css')}

    {script_tag('template/frontend/catalog/view/theme/default/js/jquery.js')}
    {script_tag('template/frontend/catalog/view/theme/default/js/owl.carousel.js')}
    <!-- Google Analytics Code -->
    <!-- End Google Analytics Code -->
    <!-- Facebook Pixel Code -->
    <!-- End Facebook Pixel Code -->
</head>
<body>
{script_tag('template/frontend/catalog/view/theme/default/bootstrap/js/bootstrap.min.js')}
{script_tag('template/frontend/catalog/view/theme/default/base/js/owl.carousel.min.js')}
{script_tag('template/frontend/catalog/view/theme/default/base/js/pushy.min.js')}
{script_tag('template/frontend/catalog/view/theme/default/base/js/peral.js')}
{script_tag('template/frontend/catalog/view/theme/default/dist/js/lightgallery-all.min.js')}
{script_tag('template/frontend/catalog/view/theme/default/lib/jquery.mousewheel.min.js')}
{script_tag('template/frontend/catalog/view/theme/default/js/common.js')}
{script_tag('template/frontend/catalog/view/theme/default/js/slide.js')}
{script_tag('template/frontend/catalog/view/theme/default/js/scroll.js')}
{script_tag('template/frontend/catalog/view/theme/default/js/load.js')}
{script_tag('template/frontend/catalog/view/theme/default/js/validate.js')}
{script_tag('template/frontend/catalog/view/theme/default/js/jquery.validationEngine.js')}
<!-- {script_tag('template/frontend/catalog/view/theme/default/js/tween.js')} -->
<!-- {script_tag('template/frontend/catalog/view/theme/default/js/grid.js')} -->
{script_tag('template/frontend/catalog/view/theme/default/js/btq.js')}
<!-- {script_tag('template/frontend/catalog/view/theme/default/js/customer_source.min.js')} -->
{script_tag('template/frontend/catalog/view/theme/default/js/script.js')}
<!--REGISTER-->
<!-- Global site tag (gtag.js) - Google Ads: 773397477 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137045036-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-137045036-1');
</script>
<!-- Google Tag Manager -->
<!-- <script>
    (function (w, i, d, g, e, t, s) {
        w[d] = w[d] || [];
        t = i.createElement(g);
        t.async = 1;
        t.src = e;
        s = i.getElementsByTagName(g)[0];
        s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq', 'script', '//widgets.getsitecontrol.com/131205/script.js');
</script> -->
<!--REGISTER-->
<!--LOAD-PAGE-->
<div class="all-pics"></div>
<div class="all-album"></div>
<div class="allvideo"></div>
<div class="overlay-dark"></div>
<!--LOAD-PAGE-->
<!--REGISTER-->
<div class="register-form">
    <a class="close" href="javascript:void(0);">close</a>
    <form method="POST" accept-charset="UTF-8" id="register" action="{base_url('lien-he')}.html">
        <div class="require-col">
            <h3>Nhận Thông tin Dự Án</h3>
            <div class="input-text">
                <input id="subscription_customer_attributes_full_name" type="text" placeholder="Họ tên Quý Khách"
                       class="quantumWizTextinputPaperinputInput exportInput" name="username" required />
            </div>
            <div class="input-text">
                <input id="subscription_customer_attributes_email" type="email" value="" placeholder="Email"
                       class="quantumWizTextinputPaperinputInput exportInput" name="email" required />
            </div>
            <div class="input-text">
                <input id="subscription_customer_attributes_phone" type="tel" value="" placeholder="Điện Thọai"
                       class="quantumWizTextinputPaperinputInput exportInput" name="phone" required />
            </div>
            <div class="input-but">
                <button class="but" id="btn-register-submit" type="submit">Đăng ký nhận thông tin</button>
            </div>
        </div>
    </form>
</div>
<!--REGISTER-->
<!--HEADER-->

    {include file="header.phtml"}
    {include file="$content.phtml"}
    {include file="footer.phtml"}
    <script type="text/javascript">
                $(document).ready(function(){
                    $('.lightgallery').lightGallery();
                });
            </script>

</body>

</html>

