<div id="project">
    <div class="container">
        <h3 class="text-center">Đối tác nổi bật</h3>
        <div id="div_hot" class="slidetruot">
            <div id="div_prd" class="row">
                <ul id="flexiselDemo4">
                    {foreach $partners as $partner}
                    <div id="post_sphome_partner">
                        <div id="post_partner">
                            <div id="img_partner">
                                <a href="{$partner.link}"><img src="{base_url()}_thumbs/{$partner.img}" alt="" class="img-responsive" ></a>
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </ul>
                <div class="clearfix"></div>
                <script type="text/javascript">
                    $(window).load(function() {
                        $("#flexiselDemo4").flexisel({
                            visibleItems: 8,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 5000,
                            pauseOnHover: true,
                            controlNav: false,
                            navControl: false,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 3
                                },
                                landscape: {
                                    changePoint:768,
                                    visibleItems: 3
                                },
                                tablet: {
                                    changePoint:1000,
                                    visibleItems: 3
                                }
                            }
                        });
                    });
                </script>
            </div><!--End div_prd -->
        </div><!--End div_hot -->
    </div>
</div>