<div class="col-md-4 col-sm-12 col-xs-12">
    <div id="wrap-right">
        {if isset($duan) && !empty($duan) && !empty($detail)}
        <div class="box sidebar-blog">
            {if isset($c) && $c=='support'}
            <h3>Dự án {$detail.name_cate}</h3>
            {else}
            <h3>Dự án {$detail.name}</h3>
            {/if}
            <div class="lastest clearfix">
                <ul>
                    {foreach $duan as $view}
                    <li class="clearfix">
                        <div class="sidebar-blog-img">
                            {anchor('du-an/'|cat:$view['alias'],img(['src'=>'_thumbs/'|cat:$view.img, 'alt'=>$view.name]))}
                        </div>
                        <div class="sidebar-blog-info">
                            <h4>{anchor('du-an/'|cat:$view['alias'], $view['name'])}</h4>
                            <p>Chi phí : <a>{$view['price']}</a></p>
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        {/if}
        <div class="box sidebar-blog">
            <h3>Thiết kế AIE+ xem nhiều nhất</h3>
            <div class="lastest clearfix">
                <ul>
                    {foreach $viewest as $view}
                    <li class="clearfix">
                        <div class="sidebar-blog-img">
                            {anchor($view['alias'],img(['src'=>'_thumbs/'|cat:$view.img, 'alt'=>$view.name]))}
                        </div>
                        <div class="sidebar-blog-info">
                            <h4>{anchor($view['alias'], $view['name'])}</h4>
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        
        <div class="box sidebar-blog">
            <h3>Công trình AIE+ thi công mới nhất</h3>
            <div class="lastest clearfix">
                <ul>
                    {foreach $pojectest as $view}
                    <li class="clearfix">
                        <div class="sidebar-blog-img">
                            {anchor('du-an/'|cat:$view['alias'],img(['src'=>'_thumbs/'|cat:$view.img, 'alt'=>$view.name]))}
                        </div>
                        <div class="sidebar-blog-info">
                            <h4>{anchor('du-an/'|cat:$view['alias'], $view['name'])}</h4>
                            <p>Chi phí : <a>{$view['price']}</a></p>
                        </div>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>

        <div class="mrgt30 box">
            {$menu_right}
        </div>

        <div class="mrgt30 box phongcach">
            <h3>Phong cách thiết kế</h3>
            <ul class="row">
                {foreach $style as $row}
                <li class="col-md-6 col-sm-3 col-xs-12">
                    <div class="relative">
                        {img(['src'=>$row.img, 'alt'=>$row.name])}
                        <div>
                            {anchor('phong-cach-thiet-ke-'|cat:$row.alias, '<span>'|cat:$row.name|cat:'</span>')}
                        </div>
                    </div>
                </li>
                {/foreach}
            </ul>
        </div>

        <div class="fb-page" data-href="https://www.facebook.com/aiehome/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/aiehome/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/aiehome/">AIE Home</a></blockquote></div>

    </div>
</div>