<div class="col-lg-4 col-md-12 sidebar">
    {foreach $menu as $item}
    {$sub_menu =  $this->b->__menu($item.id)}
    <div class="block">
        <div class="tit">{$item.name}</div>
        {if $sub_menu}
        <ul class="list">
            {foreach $sub_menu as $items}
            <li><a href='{base_url()}{$items.slug}.html'><span class='sprite sp-arrow'> </span>{$items.name}</a></li>
            {/foreach}
        </ul>
        {/if}
    </div>
    {/foreach}
</div>