<div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom:20px;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        {foreach $slider as $key => $item}
        <li data-target="#myCarousel" data-slide-to="{$key}" class="active"></li>
        {/foreach}

    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {foreach $slider as $key => $item}
        <div class="item {if $key==0}active{/if}">
            <a href="{$item.link}">
                <img src="{base_url()}_thumbs/{$item.img}" alt="{$item.name}">
            </a>

        </div>
        {/foreach}

    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>