<div class="click-here">{img('template/aie/images/click.png')}</div>
<div class="supports">
    <h5 class="company">Liên hệ với Công ty cổ phần AIE Plus</h5>
    <p>Điện thoại tư vấn : <strong><a class="telephone" href="tel:0966288588">0966.288.588</a></strong></p>
    <p>Địa chỉ : Tầng 3 số 174 Nguyễn Tuân, Thanh Xuân, Hà Nội</p>
    <p>Email: <strong><a class="email" href="mailto:contact@aieplus.vn">contact@aieplus.vn</a></strong></p>
</div>
