<div class="container" style="margin-top: 20px;">
    <div class="bg-content col-md-9 col-sm-12 col-xs-12 col-md-push-3">
        <div class="box-cat-danhmuc">
            <div class="bg-cat-danhmuc">
                <div class="cat-title-danhmuc">
                    <a href="javascript:void(0)" title="{$content_menu.name}">
                        <h1>{$content_menu.name}</h1>
                    </a>
                </div>
            </div>
            <div class="b-product" style="padding: 15px;">
                <div class="ct-tt">{$content_menu.content}</div>
                <div class="clear-main"></div>
            </div>
        </div>
    </div>
    {include file="sidebar.phtml"}
</div>
{include file="partner.phtml"}