<div class="wrapper" class="clearfix">
    <div class="home-wrapper">
        <div id="home-price">
            <div class="banner-top">
                <img src="{base_url()}template/zweb/images\banner-price.jpg" width="100%">
            </div>
            <div class="price-banner hidden-xs hidden-sm">
                <div class="container">
                    <div class="text-center">
                        <h2 style="margin-top : 25px !important;margin-bottom : 10px;">Bảng giá website trọn gói của Zweb</h2>
                        <p class="desc" style="color : #484848;">Lựa chọn gói phù hợp với nhu cầu của bạn</p>
                    </div>
                </div>
            </div>
            <div class="price-detail hidden-xs hidden-sm">
                <div class="container">
                    <div class="row">
                        <table>
                            <tbody>
                                <tr class="first-row">
                                    <td style="width: 20%">
                                        <div class="package-price" style="position: relative; padding-top: 30px; z-index: 1; display: block;"></div>
                                    </td>
                                    <td style="width: 20%" class="package-title">
                                        <div class="package-price bronze" style="position: relative; padding-top: 30px; z-index: 1; display: block;">
                                            <span class="title" style="font-size: 30px; margin-top: 0px; margin-bottom: 20px;">z1</span>
                                            <span class="price" style="padding-bottom: 15px;"><b style="font-size: 30px;">99.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                            <span class="promotion">Giảm <b>5%</b> khi mua 24 tháng</span>
                                        </div>
                                    </td>
                                    <td style="width: 20%" class="package-title">
                                        <div class="package-price gold" style="position: relative; padding-top: 30px; z-index: 2; display: block;">
                                            <span class="title" style="font-size: 30px; margin-top: 0px; margin-bottom: 20px;">z2</span>
                                            <span class="price" style="padding-bottom: 15px;"><b style="font-size: 30px;">199.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                            <span class="promotion">Giảm <b>10%</b> khi mua 24 tháng</span>
                                            <i class="icon-price-egold-popular" style="display: block;"></i>
                                            <i class="icon-price-egold-crown" style="display: block;"></i>
                                        </div>
                                    </td>
                                    <td style="width: 20%" class="package-title">
                                        <div class="package-price diamond" style="margin-right: -1px; position: relative; padding-top: 30px; z-index: 1; display: block;">
                                            <span class="title" style="font-size: 30px; margin-top: 0px; margin-bottom: 20px;">z3</span>
                                            <span class="price" style="padding-bottom: 15px;"><b style="font-size: 30px;">299.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                            <span class="promotion">Giảm <b>15%</b> khi mua 24 tháng</span>
                                        </div>
                                    </td>
                                    <td style="width: 20%" class="package-title">
                                        <div class="package-price advanced" style="position: relative; padding-top: 45px; z-index: 1; display: block;">
                                            <i class="icon-price-advanced" style="display: inline-block;"></i>
                                            <span class="title" style="font-size: 30px; margin-top: 0px; margin-bottom: 20px;">zPro</span>
                                            <span class="price" style="padding-bottom: 15px;"><b style="font-size: 30px;">399.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                            <span class="promotion">Giảm <b>20%</b> khi mua 24 tháng</span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="title">Sản phẩm</td>
                                    <td>100</td>
                                    <td>Không giới hạn</td>
                                    <td>Không giới hạn</td>
                                    <td>Không giới hạn</td>
                                </tr>

                                <tr>
                                    <td class="title">Băng thông</td>
                                    <td>10Gb</td>
                                    <td>Không giới hạn</td>
                                    <td>Không giới hạn</td>
                                    <td>Không giới hạn</td>
                                </tr>

                                <tr>
                                    <td class="title">Dung lượng</td>
                                    <td>512MB</td>
                                    <td>1GB</td>
                                    <td>2GB</td>
                                    <td>5GB</td>
                                </tr>
                                <tr>
                                    <td class="title">Tài khoản FTP</td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td class="title">Cơ sở dữ liệu</td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>10</td>
                                </tr>

                                <tr>
                                    <td class="title">Email tên miền</td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td>5 email</td>
                                    <td>10 email</td>
                                </tr>

                                <tr>
                                    <td class="has-tooltip title">
                                        SSL - Chứng chỉ bảo mật
                                        <a class="icon-tooltip-info">
                                            <i class="icon-price-info"></i>
                                            <div class="tooltip-box">
                                                <span class="tooltip-text">
                                                    Giúp các giao dịch và dữ liệu trên website được an toàn, bảo mật. Miễn phí theo thời gian sử dụng của gói.
                                                </span>
                                            </div>
                                        </a>
                                    </td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                </tr>

                                <tr>
                                    <td class="title">Bàn giao source code</td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                </tr>

                                <tr>
                                    <td class="divider title" colspan="5">
                                        Ứng dụng hỗ trợ Marketing, SEO
                                    </td>
                                </tr>

                                <tr>
                                    <td class="has-tooltip title">
                                        Tối ưu Onpage/SEO
                                        <a class="icon-tooltip-info">
                                            <i class="icon-price-info"></i>
                                            <div class="tooltip-box">
                                                <span class="tooltip-text">
                                                    Lưu ý: Tối ưu Onpage/SEO không áp dụng với khách hàng không sử dụng hosting zWeb cung cấp.
                                                </span>
                                            </div>
                                        </a>
                                    </td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                </tr>
                                
                                <tr>
                                    <td class="has-tooltip title">
                                        Tích hợp email marketing
                                        <a class="icon-tooltip-info">
                                            <i class="icon-price-info"></i>
                                            <div class="tooltip-box">
                                                <span class="tooltip-text">
                                                    Tích hợp nhiều công cụ gửi email marketing lớn như email chimp, giúp bạn truyền tải thông tin khuyến mại, hàng mới... đến tập khách hàng tiềm năng qua email
                                                </span>
                                            </div>
                                        </a>
                                    </td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                </tr>

                                <tr>
                                    <td class="has-tooltip title">
                                        Tích hợp SMS marketing
                                        <a class="icon-tooltip-info">
                                            <i class="icon-price-info"></i>
                                            <div class="tooltip-box">
                                                <span class="tooltip-text">
                                                    Tích hợp với công cụ gửi tin nhắn hàng loạt giúp bạn tiết kiệm thời gian khi gửi tin nhắn
                                                    quảng cáo, tin nhắn chăm sóc khách hàng tới khách hàng mục tiêu
                                                </span>
                                            </div>
                                        </a>
                                    </td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-new-line"></i></td>
                                    <td><i class="icon-price-check"></i></td>
                                </tr>

                                





                            </tbody>
                        </table>
                        <p class="notice">* Gói dịch vụ được bán theo tháng và thanh toán tối thiểu 6 tháng</p>
                    </div>
                </div>
            </div>
            <div class="price-detail-mobile hidden-md visible-sm visible-xs">
                <h1>Dùng thử Zweb miễn phí 15 ngày</h1>
                <p class="desc">Lựa chọn gói phù hợp với nhu cầu của bạn</p>
                <div class="container">
                    <div class="col-sm-12 col-xs-12">
                        <div class="package-detail bronze">
                            <div class="package-info">
                                <span class="title">z1</span>
                                <span class="desc">Gói trải nghiệm dành cho người mới bắt đầu</span>
                                <span class="price"><b>99.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                <span class="promotion">Giảm <b>5%</b> khi mua 24 tháng</span>
                            </div>
                            <div class="detail-content hidden-content" style="display: none;">
                                <ul>
                                    <li>100 sản phẩm</li>
                                    <li>10GB băng thông</li>
                                    <li>512MB dung lượng</li>
                                    <li class="seperate">Công cụ tích hợp hỗ trợ bán hàng</li>
                                    <li>Chat live</li>
                                    <li>Responsive</li>
                                    <li>Ngôn ngữ: Tiếng Việt</li>
                                </ul>
                            </div>
                            <i class="icon-price-view-content"></i>
                        </div>

                        <div class="package-detail gold" >
                            <div class="package-info">
                                <span class="title">z2</span>
                                <span class="desc">Gói dịch vụ được nhiều doanh nghiệp lựa chọn nhất</span>
                                <span class="price"><b>199.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                <span class="promotion">Giảm <b>10%</b> khi mua 24 tháng</span>
                                <span class="hot-package">Phổ biến nhất</span>
                            </div>
                            <div class="detail-content hidden-content">
                                <ul>
                                    <li>Sản phẩm và băng thông không giới hạn</li>
                                    <li>1GB dung lượng</li>
                                    <li>1 Tài khoản FTP</li>
                                    <li>1 Cơ sở dữ liệu</li>
                                    <li class="seperate">Ứng dụng hỗ trợ Marketing</li>
                                    <li>Tích hợp email marketing</li>
                                    <li>Tối ưu Onpage/SEO</li>
                                    <li class="seperate">Công cụ tích hợp hỗ trợ bán hàng</li>
                                    <li>Báo cáo</li>
                                    <li>Chat live</li>
                                    <li>Responsive</li>
                                    <li>Ngôn ngữ: Tiếng Việt</li>
                                </ul>
                            </div>
                            <i class="icon-price-view-content"></i>
                        </div>

                        <div class="package-detail diamond">
                            <div class="package-info">
                                <span class="title">z3</span>
                                <span class="desc">Gói dịch vụ chuyên nghiệp cho chủ shop, doanh nghiệp kinh doanh online</span>
                                <span class="price"><b>299.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                <span class="promotion">Giảm <b>15%</b> khi mua 24 tháng</span>
                            </div>
                            <div class="detail-content hidden-content">
                                <ul>
                                    <li>Sản phẩm và băng thông không giới hạn</li>
                                    <li>2GB dung lượng</li>
                                    <li>5 Tài khoản FTP</li>
                                    <li>5 Cơ sở dữ liệu</li>
                                    <li>5 Email tên miền</li>
                                    <li class="seperate">Ứng dụng hỗ trợ Marketing</li>
                                    <li>Tích hợp email marketing</li>
                                    <li>Tối ưu Onpage/SEO</li>
                                    <li class="seperate">Công cụ tích hợp hỗ trợ bán hàng</li>
                                    <li>Báo cáo</li>
                                    <li>Chat live</li>
                                    <li>Responsive</li>
                                    <li>
                                        Ngôn ngữ: Tiếng Anh và Tiếng Việt
                                    </li>
                                </ul>
                            </div>
                            <i class="icon-price-view-content"></i>
                        </div>

                        <div class="package-detail advanced" >
                            <div class="package-info">
                                <i class="icon-price-advanced"></i>
                                <span class="title">zPro</span>
                                <span class="desc">Gói dịch vụ toàn diện nhất cho chủ shop, doanh nghiệp vừa kinh doanh online vừa bán tại cửa hàng</span>
                                <span class="price"><b>399.000</b><i class="unit">đ</i><i class="per">/</i>tháng</span>
                                <span class="promotion">Giảm <b>20%</b> khi mua 24 tháng</span>
                            </div>
                            <div class="detail-content hidden-content">
                                <ul>
                                    <li>Sản phẩm và băng thông không giới hạn</li>
                                    <li>5GB dung lượng</li>
                                    <li>10 Tài khoản FTP</li>
                                    <li>10 Cơ sở dữ liệu</li>
                                    <li>10 Email tên miền</li>
                                    <li>SSL - Chứng chỉ bảo mật</li>
                                    <li>Bàn giao source code</li>
                                    <li class="seperate">Ứng dụng hỗ trợ Marketing</li>
                                    <li>Tích hợp email marketing</li>
                                    <li>Tối ưu Onpage/SEO</li>
                                    <li class="seperate">Công cụ tích hợp hỗ trợ bán hàng</li>
                                    <li>Báo cáo</li>
                                    <li>Chat live</li>
                                    <li>Responsive</li>
                                    <li>Tích hợp thanh toán trực tuyến</li>
                                    <li>
                                        Ngôn ngữ: Tiếng Anh và Tiếng Việt
                                    </li>
                                </ul>
                            </div>
                            <i class="icon-price-view-content"></i>
                        </div>
                    </div>
                </div>
                <p class="notice">* Gói dịch vụ được bán theo tháng và tối thiểu 6 tháng</p>
            </div>
        </div>
    </div>
</div>