
<div class="container" style="margin-top: 20px;">
    <div class="col-md-9 col-sm-12 col-xs-12 col-md-push-3">
        <div class="box-cat-danhmuc">
            <div class="bg-cat-danhmuc">
                <div class="cat-title-danhmuc">
                    <a href="javascript:void(0)" title="">
                        <h1>Liên hệ</h1>
                    </a>
                </div>
            </div>
            <div class="padding-list">
                <div class="ct-tt">
                    <div class="row-fluid">
                        <div class="span12">
                            {$ext.contacts.content}
                            <style>
                                #input{
                                    width:250px;
                                    border: 1px solid #C2C2C2;
                                    height:22px;
                                }
                                .guimail tr td{
                                    padding-top:10px;
                                    padding-right:20px;
                                    color: #000;
                                }
                                .guimail textarea{
                                    border: 1px solid #C2C2C2;
                                }
                            </style>
                            {if $save_success}
                            <div style="padding: 15px 5px;background: #7ceab385;margin-bottom: 15px;">{$save_success}</div>
                            {/if}
                            <form method="post" id="check_form" action="{base_url('lien-he-dat-hang')}">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="danhxung" placeholder="Danh xưng: Anh/Chị" required="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Họ và tên" required="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Địa chỉ" required="">
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="phone" id="phone" placeholder="Số điện thoại" required="">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="" >
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="name" placeholder="Tiêu đề" required="">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="content" id="body" rows="6"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-small btn-primary">Gửi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="bandomap">
                        {$ext.adv.content}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="sidebar.phtml"}
</div>
{include file="partner.phtml"}
<style>
.bandomap iframe{
    width: 100%;
}
</style>