<div class="wrapper" class="clearfix">
    <div class="index-container">
        <div class="index-title">
            <div class="container">
                <h1><span>150+ giao diện,</span> template website bán hàng cực đẹp, chuyên nghiệp</h1>
            </div>
        </div>
        <div class="feature-themes">
            <div class="container">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide feature-item">
                            <div class="row">
                                <div class="col-md-4 col-sm-5 col-xs-12 feature-info pull-right">
                                    <div class="title">
                                        Template, giao diễn mẫu
                                        <span>Auto Driver</span>
                                    </div>
                                    <div class="other-info clearfix">
                                                        <span class="rating">
                                                            <img src="{base_url()}template/zweb/images/5-star.png">
                                                        </span>
                                        <span class="price">
                                                            <b>1,200,000 VNĐ</b>
                                                        </span>
                                    </div>
                                    <div class="button">
                                        <a class="preview action-preview-theme" href="#">Xem thử</a>
                                        <a class="view-detail" href="#">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-7 col-xs-12 feature-image pull-left">
                                    <div class="image-desktop">
                                        <a href="#" class="action-preview-theme">
                                            <img src="{base_url()}template/zweb/images/thumb-feature-1.png">
                                        </a>
                                    </div>
                                    <div class="image-mobile hidden-xs">
                                        <a href="/demo/auto-driver?mobile=true" class="action-preview-theme" data-url="https://auto-driver.bizwebvietnam.net">
                                            <img src="{base_url()}template/zweb/images/thumb-mobile-feature-1.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide feature-item">
                            <div class="row">
                                <div class="col-md-4 col-sm-5 col-xs-12 feature-info pull-right">
                                    <div class="title">
                                        Template, giao diễn mẫu
                                        <span>Oganic</span>
                                    </div>
                                    <div class="other-info clearfix">
                                                        <span class="rating">
                                                            <img src="{base_url()}template/zweb/images/5-star.png">
                                                        </span>
                                        <span class="price">
                                                            <b>1,500,000 VNĐ</b>
                                                        </span>
                                    </div>
                                    <div class="button">
                                        <a class="preview action-preview-theme" href="#">Xem thử</a>
                                        <a class="view-detail" href="#">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-7 col-xs-12 feature-image pull-left">
                                    <div class="image-desktop">
                                        <a href="#" class="action-preview-theme">
                                            <img src="{base_url()}template/zweb/images/thumb-feature-2.png">
                                        </a>
                                    </div>
                                    <div class="image-mobile hidden-xs">
                                        <a href="/demo/auto-driver?mobile=true" class="action-preview-theme" data-url="https://auto-driver.bizwebvietnam.net">
                                            <img src="{base_url()}template/zweb/images/thumb-mobile-feature-2.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide feature-item">
                            <div class="row">
                                <div class="col-md-4 col-sm-5 col-xs-12 feature-info pull-right">
                                    <div class="title">
                                        Template, giao diễn mẫu
                                        <span>Pasteur</span>
                                    </div>
                                    <div class="other-info clearfix">
                                                        <span class="rating">
                                                            <img src="{base_url()}template/zweb/images/5-star.png">
                                                        </span>
                                        <span class="price">
                                                            <b>1,000,000 VNĐ</b>
                                                        </span>
                                    </div>
                                    <div class="button">
                                        <a class="preview action-preview-theme" href="#">Xem thử</a>
                                        <a class="view-detail" href="#">Chi tiết</a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-7 col-xs-12 feature-image pull-left">
                                    <div class="image-desktop">
                                        <a href="#" class="action-preview-theme">
                                            <img src="{base_url()}template/zweb/images/thumb-feature-3.png">
                                        </a>
                                    </div>
                                    <div class="image-mobile hidden-xs">
                                        <a href="/demo/auto-driver?mobile=true" class="action-preview-theme" data-url="https://auto-driver.bizwebvietnam.net">
                                            <img src="{base_url()}template/zweb/images/thumb-mobile-feature-3.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
            <script>
                $(function () {
                    var featureSlide = new Swiper('.swiper-container', {
                        nextButton: '.swiper-button-next',
                        prevButton: '.swiper-button-prev',
                        slidesPerView: 1,
                        paginationClickable: true,
                        preventClicks: false,
                        preventClicksPropagation: false,
                        loop: true,
                        autoplay: 5000,
                        effect: 'fade',
                        fade: {
                            crossFade: true
                        }
                    });
                });
            </script>
        </div>
        <div class="menu-toolbar">
            <div class="container">
                <div class="row filter-desktop hidden-xs">
                    <div class="col-md-8 menu">
                        <ul>
                            <li id="all-theme"><a href="#">Tất cả</a></li>
                            <li id="free-theme"><a href="#">Miễn phí</a></li>
                            <li id="paid-theme"><a href="#">Trả phí</a></li>
                            <li class="has-child">
                                <a>Bán hàng</a>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <ul class="sub-menu clearfix">
                                    <li>
                                        <a href="#">
                                            <span>Công nghệ - Kỹ thuật số</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Thiết bị điện</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Thời trang - Trang sức</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Thực phẩm - Nhà hàng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Thể thao - Dịch vụ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Nội thất - Trang trí văn phòng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Sinh hoạt - Gia dụng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Sách thiết bị giáo dục</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Bất động sản - Xây dựng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Thủ công - Mỹ nghệ - Quà tặng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Ô tô - Xe máy</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Khác</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-child">
                                <a>Doanh nghiệp</a>
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            <span>Nhà hàng - Khách sạn - Du lịch</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Bất động sản - Xây dựng</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Doanh nghiệp</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li id="mobile-theme"><a href="#">Mobile</a></li>
                            <li class="hidden visible-xs">
                                <form action="/" novalidate="novalidate">
                                    <input type="text" placeholder="Tìm kiếm giao diện ..." name="key" class="search-key">
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 hidden-xs">
                        <a class="show-search-tablet hidden visible-sm" href="javascript:;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <i class="fa fa-times" style="display: none;" aria-hidden="true"></i>
                        </a>
                        <div class="filter-form">
                            <div class="sort-theme" href="#">
                                <i class="fa fa-sort-amount-asc hidden-sm" aria-hidden="true"></i>
                                <div class="sort-by">
                                    <ul>
                                        <li data-sort="id" class="">Mới nhất</li>
                                        <li data-sort="price-asc">Giá từ thấp đến cao</li>
                                        <li data-sort="price-desc">Giá từ cao đến đến thấp</li>
                                        <li data-sort="alpha-asc">Tên A - Z</li>
                                        <li data-sort="alpha-desc">Tên Z - A</li>
                                        <li data-sort="discount-asc">Bán chạy nhất</li>
                                    </ul>
                                </div>
                            </div>
                            <form action="/" novalidate="novalidate">
                                <input type="text" placeholder="Bạn tìm giao diện gì?" name="key" class="search-key">
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row filter-mobile hidden visible-xs">
                    <div class="col-xs-12">
                        <div class="title-filter-mobile">Lọc theo...</div>
                        <a class="show-search-form" href="javascript:;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <i class="fa fa-times" style="display: none;" aria-hidden="true"></i>
                        </a>
                        <div class="search-form-mobile">
                            <form action="/" novalidate="novalidate">
                                <input type="text" placeholder="Tìm kiếm giao diện ..." name="key" class="search-key">
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="filter-by">
                            <ul>
                                <li id="all-theme"><a href="#">Tất cả</a></li>
                                <li id="free-theme"><a href="#">Miễn phí</a></li>
                                <li id="paid-theme"><a href="#">Trả phí</a></li>
                                <li class="has-child">
                                    <a>Ngành nghề</a>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $(".show-search-form").click(function () {
                        $(".search-form-mobile").toggle();
                        $(".show-search-form .fa-search").toggle();
                        $(".show-search-form .fa-times").toggle();
                    });

                    $(".show-search-tablet").click(function () {
                        $(this).parent().find(".filter-form").toggle();
                        $(".show-search-tablet .fa-search").toggle();
                        $(".show-search-tablet .fa-times").toggle();
                    });

                    $(".title-filter-mobile").click(function () {
                        $(".filter-mobile .filter-by").toggle();
                    });

                    $(".filter-mobile .filter-by .has-child").click(function () {
                        $(this).find(".sub-menu").toggle();
                    });

                    var price = getParameterByName("price");
                    if (price == "all") {
                        $("#all-theme").addClass("active");
                    }
                    else if (price == "free") {
                        $("#free-theme").addClass("active");
                    }
                    else if (price == "paid") {
                        $("#paid-theme").addClass("active");
                    }

                    var collection = getParameterByName("collection");
                    if (collection == 40) {
                        $("#mobile-theme").addClass("active");
                    }

                    var sort = getParameterByName("sort");
                    $(".sort-by li").removeClass("active");
                    $(".sort-by li[data-sort='" + sort + "']").addClass("active");

                    $(".sort-by li").click(function () {
                        $(".sort-by li").removeClass("active");
                        $(this).addClass("active");
                        var sort = $(this).attr("data-sort");
                        var queryString = window.location.search;
                        var url = "/search" + queryString;
                        url = setParameter(url, "sort", sort);
                        window.location.href = url;
                    });

                    var key = getParameterByName("key");
                    if (key != "") {
                        $(".filter-form input[name='key']").val(key);
                    }
                });
            </script>
        </div>
        <div class="favorite-themes">
            <div class="container">
                <h3>Top yêu thích</h3>
                <hr>
                <p class="desc">Những giao diện được nhiều người dùng nhất</p>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 ">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 hidden-md">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="themes-list">
            <div class="container">
                <h3>Giao diện mẫu mới nhất</h3>
                <hr>
                <p class="desc">Với hơn 150 template đẹp mắt, chuyên nghiệp. Hãy xem những giao diện mới nhất của Bizweb</p>
                <div class="row list-items">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="theme-item responsive">
                            <div class="theme-image">
                                <img src="{base_url()}template/zweb/images/thumb-favorite-1.jpg">
                                <div class="theme-action">
                                    <div class="button">
                                        <a href="#" class="view-demo action-preview-theme" target="_blank">Xem thử</a>
                                        <a href="#" class="view-detail">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <div class="theme-info">
                                <a href="#" class="title">EGA Landing page</a>
                                <span class="price">
                                                    <b>700,000 VNĐ</b>
                                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input type="hidden" id="Sort">
                    <input type="hidden" id="Page" value="1">
                    <input type="hidden" id="TotalPage" value="16">
                    <a class="view-more-theme" href="javascript:;">Xem thêm giao diện</a>
                    <img src="{base_url()}template/zweb/images/loading-theme.gif" id="icon-load-more" class="hidden">
                </div>
            </div>
        </div>
    </div>
</div>