<div class="wrapper" class="clearfix">
    <div id="function-wrapper">
        <div class="banner-top">
            <img src="{base_url()}template/zweb/images\banner-function.jpg" width="100%">
        </div>
        <div class="function-title">
            <div class="container">
                <h2>Tất cả những gì bạn cần chúng tôi có</h2>
                <p>Với phong cách làm việc chuyên nghiệp, <br>Zweb cung cấp các gói dịch vụ thiết kế website cao cấp mang lại nhiều lợi ích ưu việt.</p>
            </div>
        </div>
        <div class="function">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang1.png">
                            </div>
                            <div class="fun-info">
                                <h3>Chuẩn SEO</h3>
                                <p>Thân thiện với bộ máy tìm kiếm của Google, Cốc Cốc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang2.png">
                            </div>
                            <div class="fun-info">
                                <h3>Giao diện hiện đại</h3>
                                <p>Theo chuẩn thiết kế mới nhất hiện tại hướng người dùng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang3.png">
                            </div>
                            <div class="fun-info">
                                <h3>Bảo mật mạnh mẽ</h3>
                                <p>Hệ thống bảo mật với công nghệ tiên tiến và hiệu quả nhất.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang4.png">
                            </div>
                            <div class="fun-info">
                                <h3>Hỗ trợ 24/7</h3>
                                <p>Chăm sóc, giải quyết vấn đề khách hàng không kể ngày đêm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang5.png">
                            </div>
                            <div class="fun-info">
                                <h3>Thống kê hoạt động</h3>
                                <p>của website trong các khoảng thời gian đó đánh giá được hiệu quả kinh doanh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang6.png">
                            </div>
                            <div class="fun-info">
                                <h3>Tối ưu tốc độ tải trang</h3>
                                <p>Tốc độ tải trang cực nhanh và nhẹ nhằm tối ưu trải nghiệm khách hàng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang7.png">
                            </div>
                            <div class="fun-info">
                                <h3>Giao diện quản trị</h3>
                                <p>Đầy đủ tính năng và dễ sử dụng, tích hợp hệ thống phân quyền quản trị.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 col-xs-12">
                        <div class="function-item">
                            <div class="fun-img">
                                <img src="{base_url()}template/zweb/images\tinhnang8.png">
                            </div>
                            <div class="fun-info">
                                <h3>Tối ưu giao diện Mobile</h3>
                                <p>Tối ưu giao diện hiển thị trên các thiết bị di dộng, máy tính bảng.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line-bottom text-center">
                    <img src="{base_url()}template/zweb/images\thanhngang.png">
                </div>
                <div class="function-bottom">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                            <div class="fun-bt-img">
                                <img src="{base_url()}template/zweb/images\tinhnang9.png">
                            </div>
                            <div class="fun-bt-info">
                                Hệ thống ngoài các chức năng cơ bản của một website bán hàng và giới thiệu dịch vụ, còn có thêm các tính năng nâng cao khác để chuyên nghiệp hóa tính năng của website hơn nữa.
                            </div>
                            <div class="fun-bt-btn">
                                <a href="{base_url('lien-he')}.html">Liên hệ ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>