/*
 * Description of custom
 * @author trungthuc
 * @date Jan 27, 2015
 */
.stdform input.clear {
    border: none !important;
}
.multi-object {
    padding: 10px 15px;
    border-radius: 5px;
    border:1px #ccc solid;
    width: 45%;
}
.multi-object li {
    list-style: none;
    clear:both;
}
.multi-object li input {
    float:left;
    margin-right: 10px;
}
.multi-object li ul {
    margin-left: 20px;
}
input.multiple{
    width: 80px;
    display: block;
    float:left;
    padding: 5px;
    margin:5px 10px 0px 0px;

}
a.remove, a.change {
    cursor: pointer;
    margin-right: 10px;
    float:left;
    margin-top: 15px;
}
.imagePrev {
    float:left;
    margin-right: 10px;
}
.field .thumbs {
    padding: 2px;
    border:1px #CCC solid;
}
input.single_file {
    width: 80px;
}
a.remove_single {
    cursor: pointer;
    margin-right: 10px;
    float:left;
    margin-top: 12px;
}
.header .logo{
    padding-top: 20px;
}
.description_file {
    width:300px;
    float:left;
    margin:10px 10px 0px 10px;
}
.clear {
    width: 100%;
    clear: both;
    display: block;
}
.preView {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}
/*language*/
.selectLanguage {
    margin:10px 20px;
}
