html,
body {
    overflow-x: hidden;
}

/* Lists */
ul {
    margin: 0;
    padding: 0;
}

/* Container */
#container {
    position: relative;
    /*  padding: 20px 40px;
  padding-top: 80px;*/
}

/* Menu Button */
.menu-btn {
    margin-top: 30px;
    background: #e1f4fd;
    color: #3eb4e5;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #3eb4e5;
    margin-right:30px;
}

.menu-btn:hover {
    opacity: 0.6;
}

/* Header */
.site-header {
    position: fixed;
    background: #000;
    color: #FFF;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 9998;
}

/* Footer */
.site-footer {
    position: relative;
    border-top: 1px solid #EEE;
    color: #999;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}

/*# sourceMappingURL=demo.css.map */