body{
  background: url("../images/bg13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#content{
  position: relative;
  #year{
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 150px;
    z-index: 1000;
    right: 0px;
    top:0px;
    width: 140px;
    height: 100%;
    .bor{
      display: flex;
      flex-direction: column;
      .item{
        margin-bottom: 10px;
        cursor: pointer;
        .bor-item{
          display: flex;
          align-items: center;
          >div{
            margin-right: 10px;
            font-weight: 400;
            color: #fff;
            border-radius: 25px;
            -webkit-transition: all .3s;
            transition: all .3s ease-in-out;
            padding: 6px 15px;
            background: #3c3c3ca6;
          }
          span{
            display: inline-block;
            vertical-align: middle;
            background-color: rgba(255,255,255,.5);
            width: 12px;
            height: 12px;
            opacity: 1;
            transition: all .3s ease-in-out;
            -ms-border-radius: 50%;
            border-radius: 50%;
          }
        }
        &.active{
          >.bor-item{
            >div{
              background: #d2ac67;
            }
            span{
              background: #fff;
            }
          }
        }
      }
    }
  }
  .dots{
    display: flex;
    justify-content: center;
    .item{
      display: flex;
      justify-content: center;
      align-content: center;
      width: 60px;
      height: 60px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin: 3px;
      opacity: .5;
      color:#fff;
      font-size: 28px;
      padding-top: 5px;
      cursor: pointer;
      &.active{
        opacity: 1;
      }
    }
  }
  .owl-news{
    .item{
      >.bor{
        >.row{
          .title{
            margin-bottom: 20px;
            font-size: 30px;
            color:#fff;
          }
          .demo-gallery{
            .lightgallery{
              margin:0px -5px;
              justify-content: center;
              >div{
                padding:0px 5px;
                >a{
                  background: #fff;
                  border-radius: 3px;
                  padding:3px;
                  margin-bottom: 10px;
                  img{}
                }
              }
            }
          }
        }
      }
    }
  }
  .year-item{
    display: none;
    &.active{
      display: block;
    }
  }
}