body {
    font-family: MyriadBold;
    background: url("../images/bg13.jpg");
    background-size: cover;
    background-repeat: no-repeat
}

#content {
    position: relative
}

#content #year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    padding-top: 150px;
    z-index: 1000;
    right: 0px;
    top: 0px;
    width: 180px;
    height: 100%
}

#content #year .bor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

#content #year .bor .item {
    margin-bottom: 10px;
    cursor: pointer
}

#content #year .bor .item .bor-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#content #year .bor .item .bor-item>div {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 400;
    color: #fff;
    border-radius: 25px;
    -webkit-transition: all .3s;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px 25px;
    background: #3c3c3ca6;
    font-family: MyriadBold;
}

#content #year .bor .item .bor-item span {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    opacity: 1;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -ms-border-radius: 50%;
    border-radius: 50%
}

#content #year .bor .item.active>.bor-item>div {
    background: #d2ac67
}

#content #year .bor .item.active>.bor-item span {
    background: #fff
}

#content .dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 120px;
}

#content .dots .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 3px;
    opacity: .3;
    color: #fff;
    font-size: 22px;
    padding-top: 5px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

#content .dots .item.active {
    opacity: 1
}

#content .owl-news .item>.bor>.row .title {
    /*margin-bottom: 20px;*/
    padding: 25px;
    font-size: 30px;
    color: #fff;
    font-family: MyriadBold;
}

#content .owl-news .item>.bor>.row .demo-gallery .lightgallery {
    margin: 0px -5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#content .owl-news .item>.bor>.row .demo-gallery .lightgallery>div {
    padding: 0px 5px
}

#content .owl-news .item>.bor>.row .demo-gallery .lightgallery>div>a {
    background: #fff;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 10px
}

#content .year-item {
    display: none
}

#content .year-item.active {
    display: block
}

.sub-tiendo {
    background: url('../images/bg13.jpg') no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}