@font-face {
  font-family: Helvet;
  src: url("../fonts/UTM_HelvetIns.ttf"); }
@font-face {
  font-family: UVN_BenXuan;
  src: url("../fonts/UVN Ben Xuan.ttf"); }
@font-face {
  font-family: Avo;
  src: url("../fonts/UTMAvo_1.ttf"); }
@font-face {
  font-family: AvoBold;
  src: url("../fonts/UTMAvoBold_1.ttf"); }
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto_Regular.ttf"); }
@font-face {
  font-family: Myriad;
  src: url("../fonts/MyriadPro_Regular.otf"); }
@font-face {
  font-family: MyriadBold;
  src: url("../fonts/MYRIADPRO-BOLD.OTF"); }
@font-face {
  font-family: auroma;
  src: url("../fonts/UTM Aurora.ttf"); }
body {
  font-family: Myriad;
  font-size: 14px; }

a {
  color: #231f20; }

a:hover {
  text-decoration: none; }

.styleTitle, main .awe-section2 .item .box h4 a, main .awe-section4 .item .box h4 a, main .danhmuc .sidebar1 ul li .item a, main .sidebar1 ul li .item a {
  font-size: 16px;
  font-family: AvoBold; }

.container {
  max-width: 1085px;
  margin: auto;
  height: 100%; }

.titleNews {
  display: block;
  width: 100%;
  margin: 0px 15px;
  padding: 20px 0px 25px; }
  .titleNews h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0; }

.time {
  font-size: 10px;
  color: #606060;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .time .iconTime {
    padding-right: 4px; }

.header {
  background-color: #eff5ff;
  height: 133px; }
  @media (max-width: 767px) {
    .header {
      height: 103px; } }
  .header .row {
    height: 100%; }
  .header .logo {
    display: flex;
    padding-top: 19px; }
    .header .logo img {
      height: 100%;
      width: 82px;
      object-fit: contain; }
  .header .textLogo {
    padding-left: 24px; }
    .header .textLogo .textLogo1 {
      font-size: 17px;
      font-family: Avo;
      color: #005eb7;
      text-transform: uppercase; }
      @media (min-width: 768px) and (max-width: 992px) {
        .header .textLogo .textLogo1 {
          font-size: 20px; } }
    .header .textLogo .textLogo2 {
      font-family: AvoBold;
      color: #0b3588;
      font-size: 25px;
      text-transform: uppercase;
      line-height: 35px; }
    .header .textLogo .textLogo3 {
      font-family: UVN_BenXuan;
      font-size: 24px;
      color: #ec252a;
      line-height: 17px; }
  .header .register-language {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    color: #0b3588; }
    .header .register-language .register {
      margin-right: 13px;
      font-family: Avo; }
      .header .register-language .register a {
        color: #0b3588; }
    .header .register-language .language ul {
      list-style: none; }
      .header .register-language .language ul li {
        display: inline-block;
        position: relative; }
        .header .register-language .language ul li:first-child {
          margin-right: 3px; }
        @media (max-width: 767px) {
          .header .register-language .language ul li {
            margin: 0px 4px; } }
        .header .register-language .language ul li img {
          width: 30px;
          height: 20px; }
  .header .bor-bottom {
    height: 5px;
    background: #ec2726;
    margin-bottom: 15px;
    display: flex;
    overflow: hidden; }
    .header .bor-bottom .bor-left {
      background: #005eb7;
      flex: 2;
      transform: skewX(101deg);
      margin-left: -20px; }
    .header .bor-bottom .bor-right {
      flex: 1; }

.menu {
  margin-top: -16px; }
  .menu .container {
    background-color: #005eb7; }
    .menu .container ul li {
      position: relative; }
      .menu .container ul li:first-child:after {
        display: none; }
      .menu .container ul li:first-child a {
        padding: 7px 15px;
        margin-left: 15px; }
      .menu .container ul li:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 11px;
        background-color: #eaeaea;
        right: 0;
        top: 12px; }
      .menu .container ul li:last-child:after {
        display: none; }
      .menu .container ul li a {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        padding: 7px 15px;
        position: relative;
        z-index: 99999; }
        .menu .container ul li a.active:before {
          opacity: 1; }
        @media (min-width: 768px) and (max-width: 1025px) {
          .menu .container ul li a {
            font-size: 13px; } }
        .menu .container ul li a:before {
          position: absolute;
          content: '';
          top: -4px;
          left: 0;
          bottom: 0;
          right: 0;
          background: #ed2726;
          opacity: 0;
          z-index: -1;
          transition: all 0.3s ease-in; }
        .menu .container ul li a:hover {
          z-index: 99999;
          color: #fff; }
          .menu .container ul li a:hover:before {
            opacity: 1;
            color: #fff; }

main {
  margin: 10px 0px 0px;
  /*index 2*/
  /*end index 2*/
  /*slidebar*/
  /*.sidebar {*/
  /*}*/ }
  main .date {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    main .date .rss {
      height: 18px;
      width: 47px;
      margin-right: 15px; }
    main .date .time {
      height: 16px;
      width: 16px;
      margin-right: 5px; }
  main .blog-news .title {
    font-family: Myriad;
    font-weight: bold;
    font-size: 16px;
    background: #efefef;
    border-left: 5px solid #ed252a;
    height: 33px;
    line-height: 33px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px; }
    main .blog-news .title a {
      color: #214491; }
    main .blog-news .title span {
      text-align: center;
      width: 33px;
      background: #dbdbdb; }
  main .blog-news .blog-news-hot .titleHot {
    padding: 14px 0px;
    text-align: justify; }
    main .blog-news .blog-news-hot .titleHot a {
      font-family: AvoBold;
      color: #000;
      font-size: 16px; }
  main .blog-news .blog-news-hot .blog-news-hot-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 18px; }
    @media (max-width: 767px) {
      main .blog-news .blog-news-hot .blog-news-hot-content {
        display: block; } }
    main .blog-news .blog-news-hot .blog-news-hot-content .blog-news-image img {
      height: 248px; }
      @media (max-width: 767px) {
        main .blog-news .blog-news-hot .blog-news-hot-content .blog-news-image img {
          width: 100%; } }
    main .blog-news .blog-news-hot .blog-news-hot-content .blog-news-description {
      font-family: Roboto;
      color: #000;
      font-size: 14px;
      padding-left: 27px;
      text-align: justify;
      word-spacing: 4px; }
      @media (max-width: 767px) {
        main .blog-news .blog-news-hot .blog-news-hot-content .blog-news-description {
          padding-left: 0;
          padding-top: 10px; } }
  main .blog-news .blog-1 {
    border-top: 1px solid #878787;
    border-bottom: 1px solid #878787;
    padding: 12px 0px; }
    main .blog-news .blog-1 .blogItem {
      border-left: 0.2px solid #afafaf; }
      main .blog-news .blog-1 .blogItem:first-child {
        border: 0; }
        main .blog-news .blog-1 .blogItem:first-child .item {
          /*margin-left:0px;*/ }
      main .blog-news .blog-1 .blogItem .item {
        /*margin:0px 10px;*/ }
        main .blog-news .blog-1 .blogItem .item img {
          width: 100%; }
        main .blog-news .blog-1 .blogItem .item .sumary {
          padding-top: 18px; }
          main .blog-news .blog-1 .blogItem .item .sumary a {
            color: #231f20;
            font-size: 16px;
            transition: all 0.3s ease-in; }
            main .blog-news .blog-1 .blogItem .item .sumary a:hover {
              color: #214491 !important; }
  main .blog-news .blog-2 {
    border-bottom: 1px solid #878787;
    padding: 20px 0px; }
    main .blog-news .blog-2 .item:nth-child(5) .sumary, main .blog-news .blog-2 .item:nth-child(6) .sumary {
      border: 0; }
    main .blog-news .blog-2 .item .sumary {
      border-bottom: 1px solid #878787; }
      main .blog-news .blog-2 .item .sumary h4 a {
        font-family: AvoBold;
        font-size: 16px;
        color: #231f20;
        line-height: 24px;
        transition: all 0.3s ease-in; }
        main .blog-news .blog-2 .item .sumary h4 a:hover {
          color: #0056b3; }
      main .blog-news .blog-2 .item .sumary .time {
        padding-top: 0; }
  main .awe-section1 {
    border-bottom: 1px solid #878787;
    padding-bottom: 9px; }
    main .awe-section1 .item img {
      width: 100%; }
    main .awe-section1 .item h4 {
      text-align: justify;
      padding: 5px 0px; }
      main .awe-section1 .item h4 a {
        font-size: 16px;
        font-family: AvoBold; }
    main .awe-section1 .item .time {
      padding: 0; }
  main .awe-section2 {
    border-bottom: 1px solid #878787;
    padding-bottom: 9px; }
    main .awe-section2 .item {
      display: flex;
      flex: 1;
      flex-direction: row; }
      main .awe-section2 .item .box-image {
        width: 48%; }
        main .awe-section2 .item .box-image a {
          display: block; }
        main .awe-section2 .item .box-image img {
          width: 100%;
          object-fit: contain; }
      main .awe-section2 .item .box {
        width: 50%;
        padding-left: 30px; }
        main .awe-section2 .item .box h4 {
          text-align: justify; }
  main .awe-section3 {
    border-bottom: 1px solid #878787;
    padding-bottom: 9px; }
    main .awe-section3 .item img {
      width: 100%;
      object-fit: contain; }
    main .awe-section3 .item .sumary {
      padding-top: 25px; }
      main .awe-section3 .item .sumary .time {
        padding: 0; }
  main .awe-section4 .item {
    display: flex;
    flex: 1;
    flex-direction: row; }
    main .awe-section4 .item .box-image {
      width: 48%; }
      main .awe-section4 .item .box-image a {
        display: block; }
      main .awe-section4 .item .box-image img {
        width: 100%;
        object-fit: contain; }
    main .awe-section4 .item .box {
      width: 50%;
      padding-left: 30px; }
      main .awe-section4 .item .box h4 {
        text-align: justify;
        margin: 0; }
  main .partner {
    background: #214491;
    padding: 75px 0px 85px; }
    main .partner .owl-nav {
      display: none; }
    main .partner .item .item-img {
      margin-bottom: 10px; }
      main .partner .item .item-img a {
        width: 100%;
        height: 52px;
        display: block; }
        main .partner .item .item-img a img {
          max-width: 100%;
          object-fit: cover;
          margin: auto;
          overflow: hidden;
          height: 100%; }
    @media (max-width: 767px) {
      main .partner .link {
        margin-top: 10px; } }
    main .partner .link:first-child {
      border-bottom: 1px solid #8fa2c9;
      margin-bottom: 25px;
      padding-bottom: 25px; }
    main .partner .link .dropdown .dropdown-title {
      display: flex;
      background: #fff;
      justify-content: space-between;
      align-items: center;
      padding: 5px 8px;
      font-size: 14px;
      font-family: Roboto;
      cursor: pointer; }
      main .partner .link .dropdown .dropdown-title .dropbtn {
        padding-left: 12px; }
      main .partner .link .dropdown .dropdown-title .imgLink {
        width: 18px;
        height: 18px; }
    main .partner .link .dropdown .dropdown-content {
      display: none; }
  main .event {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    margin: 2px 0px 15px; }
    main .event #owl-event {
      width: 70%;
      position: relative;
      overflow: hidden; }
    main .event .owl-nav {
      display: block !important;
      position: absolute;
      right: 0px;
      top: -8px;
      margin: 0; }
      @media (max-width: 767px) {
        main .event .owl-nav {
          display: none !important; } }
      main .event .owl-nav button {
        margin: 6px 0px !important; }
    main .event .owl-theme .owl-nav [class*=owl-]:hover {
      background: transparent;
      outline: 0; }
    main .event .owl-theme .owl-nav [class*=owl-]:focus {
      outline: 0; }
    main .event .eventTitle {
      color: #005eb7;
      font-size: 14px;
      text-transform: uppercase;
      white-space: nowrap; }
    main .event .owl-dots {
      display: none; }
    main .event .eventItem {
      position: relative;
      padding-left: 20px; }
      main .event .eventItem:before {
        content: '';
        background: #005eb7;
        height: 4px;
        margin-right: 5px;
        width: 4px;
        position: absolute;
        top: 10px;
        left: 10px; }
      main .event .eventItem a {
        color: #005eb7;
        font-size: 14px;
        letter-spacing: 0.5px; }
        main .event .eventItem a span {
          color: #ec2726; }
  main #owl-news .item {
    position: relative; }
    main #owl-news .item a.img {
      height: 356px;
      overflow: hidden;
      display: block; }
      main #owl-news .item a.img img {
        height: 100%;
        object-fit: cover;
        width: 100%; }
    main #owl-news .item .owl-caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #00000061; }
      main #owl-news .item .owl-caption h4 {
        text-align: center;
        text-align: center;
        padding: 22px 0px 40px;
        margin-top: 0; }
        main #owl-news .item .owl-caption h4 a {
          color: #fff;
          font-family: MyriadBold;
          font-size: 17px; }
    main #owl-news .item .share {
      position: absolute;
      bottom: 10px;
      right: 10px; }
      main #owl-news .item .share img {
        height: 20px;
        width: 20px; }
  main #owl-news .owl-dots {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    main #owl-news .owl-dots .owl-dot.active span {
      background: #e4e4e4; }
    main #owl-news .owl-dots .owl-dot:focus {
      outline: 0; }
    main #owl-news .owl-dots .owl-dot span {
      background: transparent;
      border: 1px solid #fff;
      height: 12px;
      width: 12px;
      margin: 5px 3px; }
  main .rightNews .titleRight {
    display: flex;
    margin-bottom: 5px; }
    main .rightNews .titleRight a {
      color: red;
      font-size: 16px;
      font-family: MyriadBold;
      text-transform: uppercase;
      margin-left: 12px; }
    main .rightNews .titleRight img {
      height: 20px;
      width: 16px; }
  main .rightNews .item {
    position: relative;
    margin-bottom: 15px; }
    main .rightNews .item .img {
      height: 170px;
      overflow: hidden;
      display: block; }
      main .rightNews .item .img:hover img {
        transform: scale(1.3); }
      main .rightNews .item .img img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out; }
    main .rightNews .item .sumary {
      position: absolute;
      bottom: 0;
      background: #00000061;
      left: 0;
      right: 0; }
      main .rightNews .item .sumary h4 {
        padding: 7px 17px;
        line-height: 21px;
        margin: 0; }
        main .rightNews .item .sumary h4 a {
          color: #fff; }
          main .rightNews .item .sumary h4 a:hover {
            /* color:#234289;*/ }
  main .danhmuc .sidebar1 ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px; }
    @media (max-width: 767px) {
      main .danhmuc .sidebar1 ul {
        display: block; } }
    main .danhmuc .sidebar1 ul li {
      width: 170px;
      height: 90px;
      border-top-right-radius: 7px;
      position: relative; }
      @media (max-width: 767px) {
        main .danhmuc .sidebar1 ul li {
          width: 100%; } }
      main .danhmuc .sidebar1 ul li:before {
        z-index: -1;
        content: ' ';
        position: absolute;
        left: 10px;
        top: 28%;
        bottom: 20px;
        right: 10px;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 10px -8px rgba(0, 0, 0, 0.15);
        -webkit-transform: rotate(6deg) translate3d(15px, 0, 0);
        transform: rotate(8deg) translate3d(15px, 0, 0); }
        @media (max-width: 767px) {
          main .danhmuc .sidebar1 ul li:before {
            bottom: 25px; } }
      main .danhmuc .sidebar1 ul li:after {
        z-index: -1;
        content: ' ';
        position: absolute;
        left: 10px;
        top: 28%;
        bottom: 20px;
        right: 10px;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.15);
        -webkit-transform: rotate(-6deg) translate3d(-15px, 0, 0); }
      main .danhmuc .sidebar1 ul li:nth-child(1) .item img {
        height: 41px;
        width: 49px; }
      main .danhmuc .sidebar1 ul li:nth-child(1) .item a:hover {
        color: #214491; }
      main .danhmuc .sidebar1 ul li:nth-child(2) .item img {
        height: 45px;
        width: 45px; }
      main .danhmuc .sidebar1 ul li:nth-child(2) .item a:hover {
        color: #3b8c1f; }
      main .danhmuc .sidebar1 ul li:nth-child(3) .item img {
        height: 39px;
        width: 46px; }
      main .danhmuc .sidebar1 ul li:nth-child(3) .item a:hover {
        color: #ed242a; }
      main .danhmuc .sidebar1 ul li:nth-child(4) .item img {
        height: 40px;
        width: 42px; }
      main .danhmuc .sidebar1 ul li:nth-child(4) .item a:hover {
        color: #715e0a; }
      main .danhmuc .sidebar1 ul li:nth-child(5) .item img {
        height: 35px;
        width: 39px; }
      main .danhmuc .sidebar1 ul li:nth-child(5) .item a:hover {
        color: #3e225d; }
      main .danhmuc .sidebar1 ul li:nth-child(6) .item img {
        height: 35px;
        width: 36px; }
      main .danhmuc .sidebar1 ul li:nth-child(6) .item a:hover {
        color: #fc7800; }
      main .danhmuc .sidebar1 ul li .item {
        padding: 6px;
        position: relative; }
        main .danhmuc .sidebar1 ul li .item a {
          text-align: center;
          padding-left: 0px !important;
          transition: all 0.3s ease-in; }
          @media (max-width: 767px) {
            main .danhmuc .sidebar1 ul li .item a {
              padding-left: 17px !important; } }
  main .chuyende .rightNews .item {
    position: relative; }
    main .chuyende .rightNews .item:last-child .item-text {
      border: 0; }
    main .chuyende .rightNews .item:before {
      content: '';
      background: url("../images/iconvuong_do.svg") no-repeat;
      height: 6px;
      width: 6px;
      position: absolute;
      left: -5px;
      top: 7px; }
    main .chuyende .rightNews .item .item-text {
      border-bottom: 0.2px solid #afafaf;
      padding-bottom: 17px;
      margin: 0px 10px;
      padding-left: 0px; }
      main .chuyende .rightNews .item .item-text a:hover {
        /*font-size:17px;*/ }
  main .chuyende .banner img {
    width: 100%; }
  main .chuyende .overView-custom {
    margin-top: 14px; }
    main .chuyende .overView-custom .overView .content > a {
      height: 320px; }
  main .hoatdong {
    background: #ededed;
    padding: 47px 0px; }
    main .hoatdong ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        main .hoatdong ul {
          display: block; } }
      main .hoatdong ul li {
        width: 348px;
        border-left: 3px solid #ed252a;
        position: relative; }
        @media (max-width: 767px) {
          main .hoatdong ul li {
            margin: auto auto 10px; } }
        main .hoatdong ul li:before {
          pointer-events: none;
          position: absolute;
          z-index: 1;
          content: '';
          border-style: solid;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-property: transform;
          transition-property: transform;
          top: calc(50% - 14px);
          right: 56%;
          border-width: 15px 20px 16px 0;
          border-color: transparent #cd9e8cf5 transparent transparent; }
        main .hoatdong ul li:nth-child(1) {
          background: url(../images/pro1.png) no-repeat;
          background-size: cover;
          height: 126px;
          background-position: 4px -64px; }
          main .hoatdong ul li:nth-child(1):before {
            pointer-events: none;
            position: absolute;
            z-index: 1;
            content: '';
            border-style: solid;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            top: calc(50% - 14px);
            right: 56%;
            border-width: 15px 20px 16px 0;
            border-color: transparent #cd9e8cf5 transparent transparent; }
        main .hoatdong ul li:nth-child(2) {
          background: url("../images/pro2.png") no-repeat;
          background-size: cover;
          height: 126px;
          background-position: 118px -101px; }
          main .hoatdong ul li:nth-child(2):before {
            pointer-events: none;
            position: absolute;
            z-index: 1;
            content: '';
            border-style: solid;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            top: calc(50% - 14px);
            right: 56%;
            border-width: 15px 20px 16px 0;
            border-color: transparent #5b5b5b transparent transparent; }
        main .hoatdong ul li:nth-child(3) {
          background: url("../images/pro3.png") no-repeat;
          background-size: cover;
          height: 126px;
          background-position: 118px -101px; }
          main .hoatdong ul li:nth-child(3):before {
            pointer-events: none;
            position: absolute;
            z-index: 1;
            content: '';
            border-style: solid;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: transform;
            transition-property: transform;
            top: calc(50% - 14px);
            right: 56%;
            border-width: 15px 20px 16px 0;
            border-color: transparent #070507 transparent transparent; }
        main .hoatdong ul li .item {
          height: 100%;
          background: #fff;
          width: 44%;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          padding: 0px 30px;
          position: relative;
                    /* &:before {
                        pointer-events: none;
                        position: absolute;
                        z-index: 1;
                        content: '';
                        border-style: solid;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        top: calc(50% - 10px);
                        right: 0;
                        border-width: 10px 10px 10px 0;
                        border-color: transparent transparent transparent #e1e1e1;

                    }
*/ }
          main .hoatdong ul li .item a {
            text-transform: uppercase;
            color: #606060; }
  main .baochi {
    font-family: Roboto;
    margin-bottom: 17px; }
    main .baochi .baochi_content {
      background: #e9fdff;
      padding: 12px 28px;
      text-align: justify;
      position: relative; }
      main .baochi .baochi_content:before {
        z-index: -1;
        content: ' ';
        position: absolute;
        left: 10px;
        top: 48%;
        bottom: 22px;
        right: 10px;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.15);
        -webkit-transform: rotate(6deg) translate3d(15px, 0, 0);
        transform: rotate(6deg) translate3d(15px, 0, 0); }
      main .baochi .baochi_content:after {
        z-index: -1;
        content: ' ';
        position: absolute;
        left: 10px;
        top: 48%;
        bottom: 22px;
        right: 10px;
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.15);
        -webkit-transform: rotate(-6deg) translate3d(-15px, 0, 0);
        /* transform: rotate(-6deg) translate3d(-15px, 0, 0); */ }
  main .sidebar1 ul {
    list-style: none;
    padding: 0; }
    main .sidebar1 ul li {
      height: 66px;
      margin-bottom: 8px; }
      main .sidebar1 ul li:first-child {
        background: #214491; }
        main .sidebar1 ul li:first-child .item {
          background-color: #efefef;
          border-top-right-radius: 36px;
          height: 100%;
          border: 0.2px solid #c1c8dc; }
      main .sidebar1 ul li:nth-child(2) {
        background: #3b8c20; }
        main .sidebar1 ul li:nth-child(2) .item {
          background-color: #efefef;
          border-top-right-radius: 36px;
          height: 100%;
          border: 0.2px solid #c1c8dc; }
      main .sidebar1 ul li:nth-child(3) {
        background: #ed252a; }
        main .sidebar1 ul li:nth-child(3) .item {
          background-color: #efefef;
          border-top-right-radius: 36px;
          height: 100%;
          border: 0.2px solid #c1c8dc; }
      main .sidebar1 ul li:nth-child(4) {
        background: #725e0a; }
        main .sidebar1 ul li:nth-child(4) .item {
          background-color: #efefef;
          border-top-right-radius: 36px;
          height: 100%;
          border: 0.2px solid #c1c8dc; }
      main .sidebar1 ul li:nth-child(5) {
        background: #3e225e; }
        main .sidebar1 ul li:nth-child(5) .item {
          background-color: #efefef;
          border-top-right-radius: 36px;
          height: 100%;
          border: 0.2px solid #c1c8dc; }
      main .sidebar1 ul li:nth-child(6) {
        background: #fc7800; }
        main .sidebar1 ul li:nth-child(6) .item {
          background-color: #efefef;
          border-top-right-radius: 36px;
          height: 100%;
          border: 0.2px solid #c1c8dc; }
      main .sidebar1 ul li .item {
        display: flex;
        align-items: center;
        padding: 15px; }
        main .sidebar1 ul li .item img {
          height: 45px;
          width: 45px; }
        main .sidebar1 ul li .item a {
          color: #606060;
          padding-left: 18px; }
  main .adv .item {
    position: relative;
    overflow: hidden; }
    main .adv .item:nth-child(1) {
      display: flex;
      background: url(../images/qc1-01.png) repeat;
      height: 134px;
      background-size: contain;
      background-position: -50px 0px;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 18px; }
    main .adv .item:nth-child(2) {
      display: flex;
      background: url(../images/qc2-01.png) repeat;
      height: 134px;
      background-size: contain;
      align-items: center;
      justify-content: flex-end; }
    main .adv .item .item-image img {
      width: 100%; }
    main .adv .item .item-content {
      height: 100%;
      align-items: center;
      position: relative;
      background: #0f3faa;
      display: flex;
      width: 46%;
      justify-content: center;
      text-align: center;
      z-index: 100; }
      main .adv .item .item-content:before {
        left: -37px;
        top: 0;
        position: absolute;
        content: '';
        height: 133%;
        width: 95px;
        transform: rotate(20deg);
        background-color: #0f3faa;
        z-index: 1;
        border-left: 5px solid #7ad9f5; }
      main .adv .item .item-content a {
        font-family: auroma;
        color: #fff;
        font-size: 21px;
        text-transform: uppercase;
        z-index: 1000;
        position: absolute; }
  main .video .box-video {
    margin-top: 5px; }
    main .video .box-video .box-image {
      position: relative; }
      main .video .box-video .box-image:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, #fff0, #000);
        opacity: .6; }
      main .video .box-video .box-image .iconPlay {
        top: 42%;
        position: absolute;
        bottom: 0;
        left: 42%;
        right: 0; }
        main .video .box-video .box-image .iconPlay img {
          height: 42px;
          width: 42px; }
      main .video .box-video .box-image img {
        width: 100%; }
    main .video .box-video .sumary {
      background: #214491;
      padding: 15px 6px; }
      main .video .box-video .sumary h4 {
        font-size: 14px;
        font-family: Roboto;
        line-height: 25px; }
        main .video .box-video .sumary h4 a {
          color: #fff; }
  main .albumn .box {
    background: #214491;
    margin-top: 5px; }
    main .albumn .box a {
      color: #fff;
      font-size: 14px;
      font-family: Roboto; }
    main .albumn .box .box-first .sumary {
      margin: 5px;
      border-bottom: 0.2px solid #8fa2c9;
      padding: 10px 0px; }
    main .albumn .box .box-first > a {
      height: 190px;
      display: block; }
      main .albumn .box .box-first > a img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100%; }
    main .albumn .box .item {
      margin: 5px;
      padding: 10px 0px; }
  main .custom .box ul {
    list-style: none;
    padding: 0;
    margin-bottom: 6px; }
    main .custom .box ul li {
      border-bottom: 0.2px solid #afafaf;
      padding: 14px 0px;
      display: flex;
      align-items: center; }
      main .custom .box ul li:last-child {
        border-bottom: 0; }
      main .custom .box ul li img {
        height: 24px;
        width: 24px;
        margin-right: 8px; }
      main .custom .box ul li a {
        font-size: 15px;
        color: #000; }
        main .custom .box ul li a:hover {
          color: #214491; }
  main .infor a {
    height: 120px;
    display: block;
    margin-bottom: 18px; }
  main .infor img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  main .overView .content {
    margin-top: 10px; }
    main .overView .content > a {
      height: 187px;
      display: block; }
      main .overView .content > a img {
        height: 100%;
        overflow: hidden;
        width: 100%;
        object-fit: cover; }

footer {
  background: #0B3588;
  color: #fff;
  font-size: 14px;
  border-bottom: 5px solid #ec252a;
  border-top: 5px solid #1858b4; }
  footer .container {
    max-width: 1110px !important; }
  footer a {
    color: #fff; }
  footer .footer2 {
    background-image: linear-gradient(to bottom, rgba(0, 94, 183, 0.16), #005eb7); }
    footer .footer2 .contact {
      display: flex;
      padding-top: 9px;
      padding-left: 18px;
      position: relative; }
      footer .footer2 .contact:after {
        position: absolute;
        content: '';
        height: 100px;
        background: #fff;
        width: 1px;
        right: 0;
        bottom: 47px; }
      footer .footer2 .contact .footer-image {
        width: 95px;
        height: 120px;
        padding-top: 18px; }
      footer .footer2 .contact .info {
        padding-left: 34px; }
        footer .footer2 .contact .info h4 {
          font-family: Avo;
          font-size: 12px;
          margin-bottom: 8px; }
        footer .footer2 .contact .info h3 {
          font-family: AvoBold;
          font-size: 16px;
          margin: 0px 0px 15px; }
      footer .footer2 .contact .infor-content p {
        margin: 0; }
    footer .footer2 .tongdai {
      padding: 15px 60px;
      height: 100%; }
      footer .footer2 .tongdai h3 {
        font-family: Avo;
        font-size: 16px;
        margin-bottom: 15px; }
        footer .footer2 .tongdai h3 span {
          font-family: AvoBold;
          font-size: 23px; }
      footer .footer2 .tongdai ul {
        list-style: none; }
        footer .footer2 .tongdai ul li {
          line-height: 25px; }
          footer .footer2 .tongdai ul li a {
            color: #fff; }

.titleBar {
  font-family: MyriadBold;
  font-size: 16px;
  background: #efefef;
  border-left: 5px solid #ed252a;
  height: 33px;
  line-height: 33px;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  align-items: center;
  margin-top: 15px; }
  .titleBar h4 {
    font-size: 16px;
    margin: 0; }
  .titleBar a {
    color: #214491;
    font-weight: bold; }
  .titleBar span {
    text-align: center;
    width: 33px;
    background: #dbdbdb; }

@media (max-width: 767px) {
  .logo-menu {
    display: flex; } }

/*# sourceMappingURL=styles.css.map */
