@font-face {
    font-family: Helvet;
    src: url('../fonts/UTM_HelvetIns.ttf');
}

@font-face {
    font-family: UVN_BenXuan;
    src: url('../fonts/UVN Ben Xuan.ttf');
}

@font-face {
    font-family: Avo;
    src: url('../fonts/UTMAvo_1.ttf');
}

@font-face {
    font-family: AvoBold;
    src: url('../fonts/UTMAvoBold_1.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto_Regular.ttf');
}

@font-face {
    font-family: Myriad;
    src: url('../fonts/MyriadPro_Regular.otf');
}

@font-face {
    font-family: MyriadBold;
    src: url('../fonts/MYRIADPRO-BOLD.OTF');
}

@font-face {
    font-family: auroma;
    src: url('../fonts/UTM Aurora.ttf');
}

body {
    font-family: Myriad;
    font-size: 14px;
}

a {
    color: #231f20;
}

a:hover {
    text-decoration: none;
}

.styleTitle {
    font-size: 16px;
    font-family: AvoBold;
}

.container {
    max-width: 1085px;
    margin: auto;
    height: 100%;
}

.titleNews {
    display: block;
    width: 100%;
    margin: 0px 15px;
    padding: 20px 0px 25px;

    h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
    }

}

.time {
    font-size: 10px;
    color: #606060;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .iconTime {
        padding-right: 4px;
    }
}

.header {
    background-color: #eff5ff;
    height: 133px;

    @media(max-width: 767px) {
        height: 103px;
    }

    .row {
        height: 100%;
    }

    .logo {
        display: flex;
        padding-top: 19px;

        img {
            height: 100%;
            width: 82px;
            object-fit: contain;
        }
    }

    .textLogo {
        padding-left: 24px;

        .textLogo1 {
            font-size: 17px;
            font-family: Avo;
            color: #005eb7;
            text-transform: uppercase;

            @media(min-width: 768px) and (max-width: 992px) {
                font-size: 20px;
            }
        }

        .textLogo2 {
            font-family: AvoBold;
            color: #0b3588;
            font-size: 25px;
            text-transform: uppercase;
            line-height: 35px;
        }

        .textLogo3 {
            font-family: UVN_BenXuan;
            font-size: 24px;
            color: #ec252a;
            line-height: 17px;
        }
    }

    .register-language {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        color: #0b3588;

        .register {
            margin-right: 13px;
            font-family: Avo;

            a {
                color: #0b3588;
            }
        }

        .language {

            ul {
                list-style: none;

                li {
                    display: inline-block;
                    position: relative;

                    &:first-child {
                        margin-right: 3px;
                    }

                    @media(max-width: 767px) {
                        margin: 0px 4px;
                    }

                    img {
                        width: 30px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .bor-bottom {
        height: 5px;
        background: #ec2726;
        margin-bottom: 15px;
        display: flex;
        overflow: hidden;

        .bor-left {
            background: #005eb7;
            flex: 2;
            transform: skewX(101deg);
            margin-left: -20px;
        }

        .bor-right {
            flex: 1;
        }
    }
}

.menu {
    margin-top: -16px;

    .container {
        background-color: #005eb7;

        ul {
            li {
                position: relative;

                &:first-child {
                    &:after {
                        display: none;
                    }

                    a {
                        padding: 7px 15px;
                        margin-left: 15px;
                    }

                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 11px;
                    background-color: #eaeaea;
                    right: 0;
                    top: 12px;
                }

                &:last-child {
                    &:after {
                        display: none;
                    }
                }

                a {
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    padding: 7px 15px;
                    position: relative;
                    z-index: 99999;

                    &.active {
                        &:before {
                            opacity: 1;
                        }
                    }

                    @media(min-width: 768px) and (max-width: 1025px) {
                        font-size: 13px;
                    }

                    &:before {
                        position: absolute;
                        content: '';
                        top: -4px;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background: #ed2726;
                        opacity: 0;
                        z-index: -1;
                        transition: all 0.3s ease-in;
                    }

                    &:hover {
                        z-index: 99999;
                        color: #fff;

                        &:before {
                            opacity: 1;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

}

main {
    margin: 10px 0px 0px;

    .date {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .rss {
            height: 18px;
            width: 47px;
            margin-right: 15px;
        }

        .time {
            height: 16px;
            width: 16px;
            margin-right: 5px;
        }
    }

    .blog-news {
        .title {
            font-family: Myriad;
            font-weight: bold;
            font-size: 16px;
            background: #efefef;
            border-left: 5px solid #ed252a;
            height: 33px;
            line-height: 33px;
            display: flex;
            justify-content: space-between;
            padding-left: 20px;

            a {
                color: #214491;
            }

            span {
                text-align: center;
                width: 33px;
                background: #dbdbdb;
            }
        }

        .blog-news-hot {
            .titleHot {
                padding: 14px 0px;
                text-align: justify;

                a {
                    font-family: AvoBold;
                    color: #000;
                    font-size: 16px;
                }
            }

            .blog-news-hot-content {
                display: flex;
                flex-direction: row;
                padding-bottom: 18px;

                @media(max-width: 767px) {
                    display: block;
                }

                .blog-news-image {
                    img {
                        height: 248px;

                        @media(max-width: 767px) {
                            width: 100%;
                        }
                    }
                }

                .blog-news-description {
                    font-family: Roboto;
                    color: #000;
                    font-size: 14px;
                    padding-left: 27px;
                    text-align: justify;
                    word-spacing: 4px;

                    @media(max-width: 767px) {
                        padding-left: 0;
                        padding-top: 10px;
                    }

                }
            }
        }

        .blog-1 {
            border-top: 1px solid #878787;
            border-bottom: 1px solid #878787;
            padding: 12px 0px;

            .blogItem {
                border-left: 0.2px solid #afafaf;

                &:first-child {
                    border: 0;

                    .item {
                        /*margin-left:0px;*/
                    }
                }

                .item {
                    /*margin:0px 10px;*/

                    img {
                        width: 100%;
                    }

                    .sumary {
                        padding-top: 18px;

                        a {
                            color: #231f20;
                            font-size: 16px;
                            transition: all 0.3s ease-in;

                            &:hover {
                                color: #214491 !important;
                            }
                        }
                    }
                }
            }

        }

        .blog-2 {
            border-bottom: 1px solid #878787;
            padding: 20px 0px;

            .item {

                &:nth-child(5),
                &:nth-child(6) {
                    .sumary {
                        border: 0;
                    }
                }

                .sumary {
                    border-bottom: 1px solid #878787;

                    h4 {
                        a {
                            font-family: AvoBold;
                            font-size: 16px;
                            color: #231f20;
                            line-height: 24px;
                            transition: all 0.3s ease-in;

                            &:hover {
                                color: #0056b3;
                            }
                        }
                    }

                    .time {
                        padding-top: 0;
                    }
                }
            }

        }
    }

    .awe-section1 {
        border-bottom: 1px solid #878787;
        padding-bottom: 9px;

        .item {
            img {
                width: 100%;
            }

            h4 {
                text-align: justify;
                padding: 5px 0px;

                a {
                    font-size: 16px;
                    font-family: AvoBold;
                }
            }

            .time {
                padding: 0;
            }
        }
    }

    .awe-section2 {
        border-bottom: 1px solid #878787;
        padding-bottom: 9px;

        .item {
            display: flex;
            flex: 1;
            flex-direction: row;

            .box-image {
                width: 48%;

                a {
                    display: block;
                }

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .box {
                width: 50%;
                padding-left: 30px;

                h4 {
                    text-align: justify;

                    a {
                        @extend .styleTitle;
                    }
                }
            }
        }
    }

    .awe-section3 {
        border-bottom: 1px solid #878787;
        padding-bottom: 9px;

        .item {
            img {
                width: 100%;
                object-fit: contain;
            }

            .sumary {
                padding-top: 25px;

                .time {
                    padding: 0;
                }
            }
        }
    }

    .awe-section4 {
        .item {
            display: flex;
            flex: 1;
            flex-direction: row;

            .box-image {
                width: 48%;

                a {
                    display: block;
                }

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            .box {
                width: 50%;
                padding-left: 30px;

                h4 {
                    text-align: justify;
                    margin: 0;

                    a {
                        @extend .styleTitle;
                    }
                }
            }
        }
    }

    .partner {
        background: #214491;
        padding: 75px 0px 85px;

        .owl-nav {
            display: none;
        }

        .item {
            .item-img {
                margin-bottom: 10px;

                a {
                    width: 100%;
                    height: 52px;
                    display: block;

                    img {
                        max-width: 100%;
                        object-fit: cover;
                        margin: auto;
                        overflow: hidden;
                        height: 100%;
                    }
                }
            }

        }

        .link {
            @media(max-width: 767px) {
                margin-top: 10px;
            }

            &:first-child {
                border-bottom: 1px solid #8fa2c9;
                margin-bottom: 25px;
                padding-bottom: 25px;
            }

            .dropdown {
                .dropdown-title {
                    display: flex;
                    background: #fff;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 8px;
                    font-size: 14px;
                    font-family: Roboto;
                    cursor: pointer;

                    .dropbtn {
                        padding-left: 12px;
                    }

                    .imgLink {
                        width: 18px;
                        height: 18px;
                    }
                }

                .dropdown-content {
                    display: none;
                }
            }
        }
    }

    /*index 2*/
    .event {
        display: flex;
        align-items: center;
        max-width: 100%;
        justify-content: space-between;
        margin: 2px 0px 15px;

        #owl-event {
            width: 70%;
            position: relative;
            overflow: hidden;
        }

        .owl-nav {
            display: block !important;
            position: absolute;
            right: 0px;
            top: -8px;
            margin: 0;

            @media(max-width: 767px) {
                display: none !important;
            }

            button {
                margin: 6px 0px !important;
            }
        }

        .owl-theme .owl-nav [class*=owl-]:hover {
            background: transparent;
            outline: 0;
        }

        .owl-theme .owl-nav [class*=owl-]:focus {
            outline: 0;
        }

        .eventTitle {
            color: #005eb7;
            font-size: 14px;
            text-transform: uppercase;
            white-space: nowrap;
        }

        .owl-dots {
            display: none;
        }

        .eventItem {
            position: relative;
            padding-left: 20px;

            &:before {
                content: '';
                background: #005eb7;
                height: 4px;
                margin-right: 5px;
                width: 4px;
                position: absolute;
                top: 10px;
                left: 10px;
            }

            a {
                color: #005eb7;
                font-size: 14px;
                letter-spacing: 0.5px;

                span {
                    color: #ec2726;
                }
            }
        }
    }

     #owl-news {
            .item {
                position: relative;

                a.img {
                    height: 356px;
                    overflow: hidden;
                    display: block;

                    img {
                        height: 100%;
                        object-fit: cover;
                        width: 100%;
                    }
                }

                .owl-caption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: #00000061;

                    h4 {
                        text-align: center;
                        text-align: center;
                        padding: 22px 0px 40px;
                        margin-top: 0;

                        a {
                            color: #fff;
                            font-family: MyriadBold;
                            font-size: 17px;
                        }
                    }
                }

                .share {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;

                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }

            .owl-dots {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;

                .owl-dot {
                    &.active {
                        span {
                            background: #e4e4e4;
                        }
                    }

                    &:focus {
                        outline: 0;
                    }

                    span {
                        background: transparent;
                        border: 1px solid #fff;
                        height: 12px;
                        width: 12px;
                        margin: 5px 3px;
                    }

                }
            }
        }

    .rightNews {
        .titleRight {
            display: flex;
            margin-bottom: 5px;

            a {
                color: red;
                font-size: 16px;
                font-family: MyriadBold;
                text-transform: uppercase;
                margin-left: 12px;


            }

            img {
                height: 20px;
                width: 16px;
            }
        }

       .item {
                position: relative;
                margin-bottom: 15px;

                .img {
                    height: 170px;
                    overflow: hidden;
                    display: block;

                    &:hover {
                        img {
                            transform: scale(1.3);
                        }
                    }

                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                    }
                }

                .sumary {
                    position: absolute;
                    bottom: 0;
                    background: #00000061;
                    left:0;
                    right:0;

                    h4 {
                        padding: 7px 17px;
                        line-height: 21px;
                        margin: 0;

                        a {
                            color: #fff;

                            &:hover {
                                /* color:#234289;*/
                            }

                            ;
                        }
                    }
                }


            }
    }

    .danhmuc {
        .sidebar1 {
            ul {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;

                @media(max-width: 767px) {
                    display: block;
                }

                li {
                    width: 170px;
                    height: 90px;
                    border-top-right-radius: 7px;
                    position: relative;

                    @media(max-width: 767px) {
                        width: 100%;
                    }

                    &:before {
                        z-index: -1;
                        content: ' ';
                        position: absolute;
                        left: 10px;
                        top: 28%;
                        bottom: 20px;
                        right: 10px;
                        -webkit-transform-origin: bottom center;
                        transform-origin: bottom center;
                        -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
                        box-shadow: 0px 20px 10px -8px rgba(0, 0, 0, 0.15);
                        -webkit-transform: rotate(6deg) translate3d(15px, 0, 0);
                        transform: rotate(8deg) translate3d(15px, 0, 0);

                        @media(max-width: 767px) {
                            bottom: 25px;
                        }
                    }

                    &:after {
                        z-index: -1;
                        content: ' ';
                        position: absolute;
                        left: 10px;
                        top: 28%;
                        bottom: 20px;
                        right: 10px;
                        -webkit-transform-origin: bottom center;
                        transform-origin: bottom center;
                        -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
                        box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.15);
                        -webkit-transform: rotate(-6deg) translate3d(-15px, 0, 0);
                    }

                    &:nth-child(1) {
                        .item {
                            img {
                                height: 41px;
                                width: 49px;
                            }

                            a {

                                &:hover {
                                    color: #214491;
                                }
                            }
                        }
                    }

                    &:nth-child(2) {
                        .item {
                            img {
                                height: 45px;
                                width: 45px;
                            }

                            a {

                                &:hover {
                                    color: #3b8c1f;
                                }
                            }
                        }
                    }

                    &:nth-child(3) {
                        .item {
                            img {
                                height: 39px;
                                width: 46px;
                            }

                            a {

                                &:hover {
                                    color: #ed242a;
                                }
                            }
                        }
                    }

                    &:nth-child(4) {
                        .item {
                            img {
                                height: 40px;
                                width: 42px;
                            }

                            a {

                                &:hover {
                                    color: #715e0a;
                                }
                            }
                        }
                    }

                    &:nth-child(5) {
                        .item {

                            img {
                                height: 35px;
                                width: 39px;
                            }

                            a {

                                &:hover {
                                    color: #3e225d;
                                }
                            }
                        }
                    }

                    &:nth-child(6) {
                        .item {
                            img {
                                height: 35px;
                                width: 36px;
                            }

                            a {

                                &:hover {
                                    color: #fc7800;
                                }
                            }
                        }
                    }

                    .item {
                        padding: 6px;
                        position: relative;

                        a {
                            @extend .styleTitle;
                            text-align: center;
                            padding-left: 0px !important;
                            transition: all 0.3s ease-in;


                            @media(max-width: 767px) {
                                padding-left: 17px !important;
                            }
                        }

                    }

                }
            }
        }
    }

    .chuyende {
        .titleBar {}

        .rightNews {
            .item {
                position: relative;

                &:last-child {
                    .item-text {
                        border: 0;
                    }
                }

                &:before {
                    content: '';
                    background: url('../images/iconvuong_do.svg') no-repeat;
                    height: 6px;
                    width: 6px;
                    position: absolute;
                    left: -5px;
                    top: 7px;
                }

                .item-text {
                    border-bottom: 0.2px solid #afafaf;
                    padding-bottom: 17px;
                    margin: 0px 10px;
                    padding-left: 0px;

                    a {
                        &:hover {
                            /*font-size:17px;*/
                        }

                        ;
                    }
                }

            }
        }

        .banner {
            img {
                width: 100%;

            }
        }

        .overView-custom {
            margin-top: 14px;

            .overView {
                .content {
                    >a {
                        height: 320px;
                    }
                }
            }
        }
    }

    .hoatdong {
        background: #ededed;
        padding: 47px 0px;

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;

            @media(max-width: 767px) {
                display: block;
            }

            li {
                width: 348px;
                border-left: 3px solid #ed252a;
                position: relative;

                @media(max-width: 767px) {
                    margin: auto auto 10px;
                }

                &:before {
                    pointer-events: none;
                    position: absolute;
                    z-index: 1;
                    content: '';
                    border-style: solid;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    top: calc(50% - 14px);
                    right: 56%;
                    border-width: 15px 20px 16px 0;
                    border-color: transparent #cd9e8cf5 transparent transparent;

                }

                &:nth-child(1) {
                    background: url(../images/pro1.png) no-repeat;
                    background-size: cover;
                    height: 126px;
                    background-position: 4px -64px;

                    &:before {
                        pointer-events: none;
                        position: absolute;
                        z-index: 1;
                        content: '';
                        border-style: solid;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        top: calc(50% - 14px);
                        right: 56%;
                        border-width: 15px 20px 16px 0;
                        border-color: transparent #cd9e8cf5 transparent transparent;

                    }
                }

                &:nth-child(2) {
                    background: url('../images/pro2.png') no-repeat;
                    background-size: cover;
                    height: 126px;
                    background-position: 118px -101px;

                    &:before {
                        pointer-events: none;
                        position: absolute;
                        z-index: 1;
                        content: '';
                        border-style: solid;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        top: calc(50% - 14px);
                        right: 56%;
                        border-width: 15px 20px 16px 0;
                        border-color: transparent #5b5b5b transparent transparent;

                    }
                }

                &:nth-child(3) {
                    background: url('../images/pro3.png') no-repeat;
                    background-size: cover;
                    height: 126px;
                    background-position: 118px -101px;

                    &:before {
                        pointer-events: none;
                        position: absolute;
                        z-index: 1;
                        content: '';
                        border-style: solid;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        top: calc(50% - 14px);
                        right: 56%;
                        border-width: 15px 20px 16px 0;
                        border-color: transparent #070507 transparent transparent;

                    }
                }

                .item {
                    height: 100%;
                    background: #fff;
                    width: 44%;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    padding: 0px 30px;
                    position: relative;

                    /* &:before {
                        pointer-events: none;
                        position: absolute;
                        z-index: 1;
                        content: '';
                        border-style: solid;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        top: calc(50% - 10px);
                        right: 0;
                        border-width: 10px 10px 10px 0;
                        border-color: transparent transparent transparent #e1e1e1;

                    }
*/
                    a {
                        text-transform: uppercase;
                        color: #606060;
                    }
                }

            }
        }
    }

    /*end index 2*/
    /*slidebar*/
    /*.sidebar {*/
    .baochi {
        font-family: Roboto;
        margin-bottom: 17px;

        .baochi_content {
            background: #e9fdff;
            padding: 12px 28px;
            text-align: justify;
            position: relative;

            &:before {
                z-index: -1;
                content: ' ';
                position: absolute;
                left: 10px;
                top: 48%;
                bottom: 22px;
                right: 10px;
                -webkit-transform-origin: bottom center;
                transform-origin: bottom center;
                -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
                box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.15);
                -webkit-transform: rotate(6deg) translate3d(15px, 0, 0);
                transform: rotate(6deg) translate3d(15px, 0, 0);
            }

            &:after {
                z-index: -1;
                content: ' ';
                position: absolute;
                left: 10px;
                top: 48%;
                bottom: 22px;
                right: 10px;
                -webkit-transform-origin: bottom center;
                transform-origin: bottom center;
                -webkit-box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.4);
                box-shadow: 0px 25px 10px -8px rgba(0, 0, 0, 0.15);
                -webkit-transform: rotate(-6deg) translate3d(-15px, 0, 0);
                /* transform: rotate(-6deg) translate3d(-15px, 0, 0); */
            }

        }
    }

    .sidebar1 {
        ul {
            list-style: none;
            padding: 0;

            li {
                height: 66px;
                margin-bottom: 8px;

                &:first-child {
                    background: #214491;

                    .item {
                        background-color: #efefef;
                        border-top-right-radius: 36px;
                        height: 100%;
                        border: 0.2px solid #c1c8dc;
                    }
                }

                &:nth-child(2) {
                    background: #3b8c20;

                    .item {
                        background-color: #efefef;
                        border-top-right-radius: 36px;
                        height: 100%;
                        border: 0.2px solid #c1c8dc;
                    }
                }

                &:nth-child(3) {
                    background: #ed252a;

                    .item {
                        background-color: #efefef;
                        border-top-right-radius: 36px;
                        height: 100%;
                        border: 0.2px solid #c1c8dc;
                    }
                }

                &:nth-child(4) {
                    background: #725e0a;

                    .item {
                        background-color: #efefef;
                        border-top-right-radius: 36px;
                        height: 100%;
                        border: 0.2px solid #c1c8dc;
                    }
                }

                &:nth-child(5) {
                    background: #3e225e;

                    .item {
                        background-color: #efefef;
                        border-top-right-radius: 36px;
                        height: 100%;
                        border: 0.2px solid #c1c8dc;
                    }
                }

                &:nth-child(6) {
                    background: #fc7800;

                    .item {
                        background-color: #efefef;
                        border-top-right-radius: 36px;
                        height: 100%;
                        border: 0.2px solid #c1c8dc;
                    }
                }

                .item {
                    display: flex;
                    align-items: center;
                    padding: 15px;

                    img {
                        height: 45px;
                        width: 45px;
                    }

                    a {
                        @extend .styleTitle;
                        color: #606060;
                        padding-left: 18px;
                    }

                }
            }
        }
    }

    .adv {
        .item {
            position: relative;
            overflow: hidden;

            &:nth-child(1) {
                display: flex;
                background: url(../images/qc1-01.png) repeat;
                height: 134px;
                background-size: contain;
                background-position: -50px 0px;
                align-items: center;
                justify-content: flex-end;
                margin-bottom: 18px;
            }

            &:nth-child(2) {
                display: flex;
                background: url(../images/qc2-01.png) repeat;
                height: 134px;
                background-size: contain;
                align-items: center;
                justify-content: flex-end;
            }

            .item-image {
                img {
                    width: 100%;
                }
            }

            .item-content {
                height: 100%;
                align-items: center;
                position: relative;
                background: #0f3faa;
                display: flex;
                width: 46%;
                justify-content: center;
                text-align: center;
                z-index: 100;

                &:before {
                    left: -37px;
                    top: 0;
                    position: absolute;
                    content: '';
                    height: 133%;
                    width: 95px;
                    transform: rotate(20deg);
                    background-color: #0f3faa;
                    z-index: 1;
                    border-left: 5px solid #7ad9f5;
                }

                a {
                    font-family: auroma;
                    color: #fff;
                    font-size: 21px;
                    text-transform: uppercase;
                    z-index: 1000;
                    position: absolute;
                }
            }
        }
    }

    .video {
        .box-video {
            margin-top: 5px;

            .box-image {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-image: linear-gradient(to bottom, #fff0, #000);
                    opacity: .6;
                }

                .iconPlay {
                    top: 42%;
                    position: absolute;
                    bottom: 0;
                    left: 42%;
                    right: 0;

                    img {
                        height: 42px;
                        width: 42px;
                    }
                }

                img {
                    width: 100%;
                }
            }

            .sumary {
                background: #214491;
                padding: 15px 6px;

                h4 {
                    font-size: 14px;
                    font-family: Roboto;
                    line-height: 25px;

                    a {
                        color: #fff;
                    }
                }
            }

        }
    }

    .albumn {
        .box {
            background: #214491;
            margin-top: 5px;

            a {
                color: #fff;
                font-size: 14px;
                font-family: Roboto;
            }

            .box-first {
                .sumary {
                    margin: 5px;
                    border-bottom: 0.2px solid #8fa2c9;
                    padding: 10px 0px;
                }

                >a {
                    height: 190px;
                    display: block;

                    img {
                        overflow: hidden;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .item {
                margin: 5px;
                padding: 10px 0px;
            }


        }
    }

    .custom {
        .box {
            ul {
                list-style: none;
                padding: 0;
                margin-bottom: 6px;

                li {
                    border-bottom: 0.2px solid #afafaf;
                    padding: 14px 0px;
                    display: flex;
                    align-items: center;

                    &:last-child {
                        border-bottom: 0;
                    }

                    img {
                        height: 24px;
                        width: 24px;
                        margin-right: 8px;
                    }

                    a {
                        font-size: 15px;
                        color: #000;

                        &:hover {
                            color: #214491;
                        }
                    }
                }
            }
        }
    }

    .infor {
        a {
            height: 120px;
            display: block;
            margin-bottom: 18px;
        }

        img {
            overflow: hidden;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .overView {
        .content {
            margin-top: 10px;

            >a {
                height: 187px;
                display: block;

                img {
                    height: 100%;
                    overflow: hidden;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

    }

    /*}*/

}

footer {
    background: #0B3588;
    color: #fff;
    font-size: 14px;
    border-bottom: 5px solid #ec252a;
    border-top: 5px solid #1858b4;

    .container {
        max-width: 1110px !important;
    }

    a {
        color: #fff;
    }

    .footer2 {
        background-image: linear-gradient(to bottom, rgba(0, 94, 183, 0.16), #005eb7);

        .contact {
            display: flex;
            padding-top: 9px;
            padding-left: 18px;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                height: 100px;
                background: #fff;
                width: 1px;
                right: 0;
                bottom: 47px;
            }

            .footer-image {
                width: 95px;
                height: 120px;
                padding-top: 18px;
            }

            .info {
                padding-left: 34px;

                h4 {
                    font-family: Avo;
                    font-size: 12px;
                    margin-bottom: 8px
                }

                h3 {
                    font-family: AvoBold;
                    font-size: 16px;
                    margin: 0px 0px 15px;
                }
            }

            .infor-content {
                p {
                    margin: 0;
                }
            }
        }

        .tongdai {
            padding: 15px 60px;
            height: 100%;

            h3 {
                font-family: Avo;
                font-size: 16px;
                margin-bottom: 15px;

                span {
                    font-family: AvoBold;
                    font-size: 23px;
                }
            }

            ul {
                list-style: none;

                li {
                    line-height: 25px;

                    a {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.titleBar {
    font-family: MyriadBold;
    font-size: 16px;
    background: #efefef;
    border-left: 5px solid #ed252a;
    height: 33px;
    line-height: 33px;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    align-items: center;
    margin-top: 15px;

    h4 {
        font-size: 16px;
        margin: 0;
    }

    a {
        color: #214491;
        font-weight: bold;
    }

    span {
        text-align: center;
        width: 33px;
        background: #dbdbdb;
    }
}


@media(max-width: 767px) {
    .logo-menu {
        display: flex;
    }
}