<section class="container" id="about-page">
    <div class="title-page"><h1>Giới thiệu</h1></div>
    <div class="box-nav">
        <ul>
            {foreach $aboutCate as $item}
            <li><a href="javascript:void(0);" data-dot="{$item.slug}"></a></li>
            {/foreach}
        </ul>
    </div>
    <div class="box-slider">
        <!--LEFT CONTENT-->
        <div class="box-left">
            <!--SUB-MENU-->
            <div class="sub-nav">
                <ul>
                    {foreach $aboutCate as $item}
                    <li><a href="javascript:void(0);" data-target="{$item.slug}" data-title="{$item.meta_title}" data-description="{$item.meta_description}" data-keyword="{$item.meta_keywords}">{$item.name}</a></li>
                    {/foreach}
                </ul>
            </div>
            <!--SUB-MENU-->
            {foreach $aboutCate as $item}
            <div class="group-left" data-name="{$item.slug}">
                <div class="box-cover"><img src="{base_url()}images/{$item.image}" alt="Giới thiệu dự án"></div>
                <div class="text-intro">
                    <h2>{$item.name}</h2>
                    <div class="scrollA">
                        <div class="box-text">
                            {$item.content}
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        <!--LEFT CONTENT-->
        <!--RIGHT CONTENT-->
        <div class="box-right">
            {foreach $aboutCate as $item}
            <div class="group-right" data-name="{$item.slug}">
                <div class="box-cover-right" style="background-image:url({base_url()}images/{$item.image})"></div>
            </div>
            {/foreach}
        </div>
        <!--RIGHT CONTENT-->
    </div>
</section>