<div class="album-load" style="opacity: 1;">
    <a class="close-album" onclick="goBack()">close</a>
    <script>
        //var base_url = '{base_url()}';
        function goBack() {
            window.location.reload();
        }
    </script>
    <div class="slide-pic-nav" style="display: block;">
        <div class="next-pic"></div>
        <div class="prev-pic disabled"></div>
    </div>
    <div class="album-center slide-container-horizontal" style="cursor: -webkit-grab;">
        <div class="item-wrapper">
            {foreach $homeImage as $item}
            <div class="album-pic-center item-container">
                <div class="pic-name">
                    <h3>{$item.file_txt}</h3>
                </div>
                <div class="container-zoom">
                    <img class="lazy"
                         data-src="{base_url()}images/{$item.file}"
                         alt="{$item.file_txt}">
                </div>
                <div class="lazy-preloader"></div>
            </div>
            {/foreach}

        </div>
    </div>
</div>