<section class="container" id="contact-page">
    <div class="title-page"><h1>Liên hệ</h1></div>
    <div class="box-slider">
        <!--LEFT CONTENT-->
        <div class="box-left">
            <!--CONTACT-->
            <div class="group-left" data-name="contact">
                <div class="box-cover"><img src="{base_url()}images/{$contact.background}" alt="{$contact.title}"></div>
                <div class="text-intro">
                    <div id="form_lh"><h2>Đăng ký nhận thông tin dự án</h2>
                        <form method="POST" accept-charset="UTF-8" id="register" action="{base_url('lien-he')}.html">

                            <div class="require-col">
                                <div class="input-text">
                                    <input id="subscription_customer_attributes_full_name" type="text"
                                           placeholder="Họ tên Quý khách"
                                           class="quantumWizTextinputPaperinputInput exportInput" name="username" required />
                                </div>
                                <div class="input-text">
                                    <input id="subscription_customer_attributes_email" type="email" value=""
                                           placeholder="Email" class="quantumWizTextinputPaperinputInput exportInput"
                                           name="email" required/>
                                </div>
                                <div class="input-text">
                                    <input id="subscription_customer_attributes_phone" type="tel" value=""
                                           placeholder="Điện Thoại"
                                           class="quantumWizTextinputPaperinputInput exportInput"
                                           name="phone" required />
                                </div>
                                <div class="input-but">
                                    <button class="button" id="btn-register-submit" type="submit">Đăng Ký</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h2>{$contact.title}</h2>
                    <div class="box-text">
                        {$contact.content}
                    </div>
                </div>
            </div>
            <!--CONTACT-->
        </div>
        <!--LEFT CONTENT-->
        <!--RIGHT CONTENT-->
        <div class="box-right">
        </div>
        <!--RIGHT CONTENT-->
    </div>
</section>