<div class="container" id="news-page">
    <div class="title-page"><h1>Tin tức</h1></div>
    <div class="box-library">
        <div class="bg-cover"
             style="background-image:url({base_url()}images/{$newsContent.img})"></div>
        <h2>Tin Dự án</h2>
        <div class="news-list">
            <div class="scrollB">
			
                   {foreach $news as $item}
                        <div class="link-page">
							 <a href="{base_url()}{$item.alias}.html"
                               data-name="n-{$item.id}" data-title="{$item.meta_title}" data-description="{$item.meta_keyword}" data-keyword="{$item.meta_descriptions}">
								<div class="pic-thumb"><img src="{base_url()}images/{$item.img}"
                                                        alt="{$item.name}">
								</div>
								<div class="title-h3-old">{$item.name}</div>
							</a>
                        </div>
                  
                    {/foreach}
				
            </div>
        </div>
        <!--NEWS LOAD-->
        <div class="colum-box-news">
            <a class="close-news" href="javascript:void(0);"></a>
            <div class="scrollC">
                <span class="click-hover"></span>
                <div class="news-content"></div>
            </div>
        </div>
        <!--NEWS LOAD-->
    </div>
</div>
<div class="newsid class-hidden">{$newDetail.id}</div>
