<section class="container" id="facilities-page">
    <div class="title-page"><h1>Mặt bằng dự án</h1></div>
    <div class="sub-nav">
        <ul>
            {foreach $ground as $k => $item}
            <li><a href="" data-name="toa-r{$k+1}" data-title="{$item.meta_title}"
                   data-description="{$item.meta_description}"
                   data-keyword="{$item.meta_keywords}">{$item.name}</a></li>
            {/foreach}
        </ul>
    </div>
    <!--SLIDE CONTENT-->
    <div class="slider-about">
        <div class="pagination"></div>
        <div class="slide-bg">
            {foreach $ground as $k => $item}
            {$groundDetail = $this->b->__ground($item.id)}
            <div class="item-wrapper">
                <div class="facilities item-container" data-hash="toa-r{$k+1}"
                     data-href=""
                     data-title="{$item.meta_title}"
                     data-description="{$item.meta_description}"
                     data-keyword="{$item.meta_keywords}">
                    <div class="facilities-map">
                        <h2>{$item.name}</h2>
                        <div class="facilities-bg"
                             style="background-image:url({base_url()}images/{$item.image})"></div>
                        <div class="compass">{$item.title}</div>
                        <div class="all-dot">
                            <div class="all-dot-top">
                                {if ($k === 0)}
                                <a class="dot-num dot-01" href="javascript:void(0);" data-name="01"
                                   data-box="01">01<span class="circle"></span></a>
                                <a class="dot-num dot-02" href="javascript:void(0);" data-name="02"
                                   data-box="02">02<span class="circle"></span></a>
                                <a class="dot-num dot-03 " href="javascript:void(0);" data-name="03"
                                   data-box="03">03</a>
                                <a class="dot-num dot-04" href="javascript:void(0);" data-name="04"
                                   data-box="04">05<span class="circle"></span></a>
                                <a class="dot-num dot-05" href="javascript:void(0);" data-name="05"
                                   data-box="05">06<span class="circle"></span></a>
                                <a class="dot-num dot-06 " href="javascript:void(0);" data-name="06"
                                   data-box="06">07</a>
                                <a class="dot-num dot-07 " href="javascript:void(0);" data-name="07"
                                   data-box="07">08</a>
                                <a class="dot-num dot-08" href="javascript:void(0);" data-name="08" data-box="08">09</a>
                                <a class="dot-num dot-09" href="javascript:void(0);" data-name="09" data-box="09">10</a>
                                <a class="dot-num dot-10" href="javascript:void(0);" data-name="10"
                                   data-box="10">11<span class="circle"></span></a>
                                <a class="dot-num dot-11" href="javascript:void(0);" data-name="11"
                                   data-box="11">12<span class="circle"></span></a>
                                <a class="dot-num dot-12" href="javascript:void(0);" data-name="12"
                                   data-box="12">15<span class="circle"></span></a>
                                {else}
                                <a class="dot-num dot-13 r2" href="javascript:void(0);" data-name="11"
                                   data-box="11">12<span class="circle"></span></a>
                                <a class="dot-num dot-14 r2" href="javascript:void(0);" data-name="12"
                                   data-box="12">15<span class="circle"></span></a>
                                <a class="dot-num dot-15 r2" href="javascript:void(0);" data-name="13"
                                   data-box="13">11<span class="circle"></span></a>
                                <a class="dot-num dot-16 r2" href="javascript:void(0);" data-name="14"
                                   data-box="14">10<span class="circle"></span></a>
                                <a class="dot-num dot-17 r2" href="javascript:void(0);" data-name="15"
                                   data-box="15">01<span class="circle"></span></a>
                                <a class="dot-num dot-18 r2" href="javascript:void(0);" data-name="16"
                                   data-box="16">02<span class="circle"></span></a>
                                <a class="dot-num dot-19 r2" href="javascript:void(0);" data-name="17"
                                   data-box="17">03<span class="circle"></span></a>
                                <a class="dot-num dot-20 r2" href="javascript:void(0);" data-name="18"
                                   data-box="18">05<span class="circle"></span></a>
                                <a class="dot-num dot-21 r2" href="javascript:void(0);" data-name="19"
                                   data-box="19">06<span class="circle"></span></a>
                                <a class="dot-num dot-22 r2" href="javascript:void(0);" data-name="20"
                                   data-box="20">07<span class="circle"></span></a>
                                <a class="dot-num dot-23 r2" href="javascript:void(0);" data-name="21"
                                   data-box="21">08<span class="circle"></span></a>
                                <a class="dot-num dot-24 r2" href="javascript:void(0);" data-name="22"
                                   data-box="22">09<span class="circle"></span></a>
                                {/if}
                            </div>
                        </div>
                    </div>
                    <!--SHOW BOX-->
                    <div class="info-facilities">
                        {foreach $groundDetail as $key => $itemD}
                        {if ($k == 0)}
                            {if ($key<9)}
                                <div class="show-box-pic" data-pic="0{$key+1}">
                            {else}
                                 <div class="show-box-pic" data-pic="{$key+1}">
                            {/if}
                        {else}
                             <div class="show-box-pic" data-pic="{$key+15}">
                        {/if}

                            <img src="{base_url()}images/{$itemD.img}"
                                 data-srcl="{base_url()}images/{$itemD.img}"
                                 alt="{$itemD.title}">
                            <div class="number">R1-{$key+1}</div>
                            <div class="faci-text">
                                <h3>{$itemD.name}</h3>
                                {$itemD.content}
                            </div>
                        </div>
                        {/foreach}

                    </div>
                    <!--SHOW BOX-->
                </div>
            </div>
            {/foreach}
        </div>
    </div>
    <!--SLIDE CONTENT-->
</section>