<section class="container" id="home-page">
    <div class="title-page"><h1>{$section1.name}</h1></div>
    <div class="box-nav"></div>
    <div class="box-slider">
        <!--LEFT CONTENT-->
        <div class="box-left">
            <!--INTRO-->
            <div class="group-left" data-name="intro-home">
                <div class="box-cover"></div>
                <div class="center-content">
                    <div class="logo-center"></div>
                    <span class="line"></span>
                    <h2 class="slogan">{$section1.title}</h2>
                </div>
                <!--VIDEO-->
                <div class="box-video-center">
                    <div class="video-cover" id="videocontainer" data-fullscreen="false">
                        <a class="player-vid" id="playervid" href="javascript:void(0);"></a>
                        <div class="pic-video" style="background-image:url({base_url()}images/{$section1.img})"></div>
                        <video id="video-full" class="video-full" preload="auto" loop="" muted="no" controls="play">
                            <source src="{$section1.video}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                        <!--VIDEO CONTROL-->
                        <div id="videocontrols" class="controls" data-state="hidden">
                            <button id="stop" type="button" data-state="stop"></button>
                            <button id="playpause" type="button" data-state="play"></button>
                            <div class="progress">
                                <progress id="progress" value="0" min="0"><span id="progressbar"></span></progress>
                            </div>
                            <button id="mute" type="button" data-state="play"></button>
                            <button id="fullscreen" type="button" data-state="go-fullscreen"></button>
                        </div>
                        <!--VIDEO CONTROL-->
                    </div>
                </div>
                <!--VIDEO-->
            </div>
            <!--INTRO-->
            <!--banner su kien-->
            <div class="group-left" data-name="su-kien">
                <div class="box-cover" style="background-image:url({base_url()}images/{$section2.img})"></div>
                <div class="text-intro">
                    <a class="go-page buton-sk" href="{base_url()}{$section3.slug}.html">Đăng ký nhận thư
                        mời<span></span></a>
                </div>
            </div>
            <!--End banner su kien-->
            <!--LOCATION-->
            <div class="group-left" data-name="location-home">
                <div class="box-cover" style="background-image:url({base_url()}images/{$section3.image})"><img
                            src="{base_url()}images/{$section3.background}" alt="{$section3.title}"></div>
                <div class="text-intro">
                    <h2>{$section3.title}</h2>
                    <div class="box-text">
                        {$section3.more}
                    </div>
                    <a class="go-page" href="{base_url()}{$section3.slug}.html">{$section3.name}<span></span></a>
                </div>
            </div>
            <!--LOCATION-->
            <!--LOCATION 2---->
            <div class="group-left" data-name="apartment-home2">
                <div class="box-cover my-box-cover"
                     style="background-image:url({base_url()}images/{$section4.background})"><a
                            href="{base_url()}{$section4.slug}.html"><img src="{base_url()}images/{$section4.image}"
                                                                         alt="{$section4.title}"></a></div>
                <div class="text-intro my-apartment-home2">
                    <h2>{$section4.title}</h2>
                    <div class="box-text">
                        {$section4.more}
                    </div>
                    <a class="go-page" href="{base_url()}{$section4.slug}.html">{$section4.name}<span></span></a>
                </div>
            </div>
            <!--LOCATION 2-->
            <!--FACILITIES-->
            <div class="group-left" data-name="facilities-home">
                <div class="box-cover"
                     style="background-image:url({base_url()}images/{$section5.background})"><img
                            src="{base_url()}images/{$section5.image}" alt="{$section5.title}"></div>
                <div class="text-intro">
                    <h2>{$section5.title}</h2>
                    <div class="box-text">
                        {$section5.more}
                    </div>
                    <a class="go-page" href="{base_url()}{$section5.slug}.html">Xem Chi Tiết<span></span></a>
                </div>
            </div>
            <!--FACILITIES-->
            <!--APARTMENT-->
            <div class="group-left" data-name="apartment-home">
                <div class="box-cover"
                     style="background-image:url({base_url()}images/{$section6.background})"><img
                            src="{base_url()}images/{$section6.image}" alt="{$section6.title}"></div>
                <div class="text-intro">
                    <h2> {$section6.title}</h2>
                    <div class="box-text">
                        {$section6.more}
                    </div>
                    <a class="go-page" href="{base_url()}{$section6.slug}.html">Xem Thông Tin<span></span></a>
                </div>
            </div>
            <!--APARTMENT-->
            <!--NEWS-->
            <div class="group-left" data-name="news-home" id="section-album">
                <div class="box-cover"
                     style="background-image:url({base_url()}files/background/bg8.jpg)"></div>
                <div class="wrap-news">
                    <div class="box album-home tlda">
                        <div class="colum-pic">
                            <img src="{base_url()}images/{$homeDocs.img}"
                                 alt="{$homeDocs.name}">
                        </div>
                        <a class="view-album" href="javascript:void(0);" data-href="{base_url('chi-tiet-tai-lieu')}.html"></a>
                        <h2>{$homeDocs.name} </h2>
                    </div>
                    <div class="box album-home">
                        <div class="colum-pic">
                            <img src="{base_url()}images/{$homeImage.img}"
                                 alt="{$homeImage.name}">
                        </div>
                        <a class="view-album" href="javascript:void(0);"
                           data-href="{base_url('chi-tiet-can-ho')}.html"></a>
                        <h2>{$homeImage.name}</h2>
                    </div>
                    <div class="box video-home">
                        <div class="colum-pic">
                            <img src="{base_url()}images/{$homeVideo.img}"
                                 alt="{$homeVideo.name}">
                        </div>
                        <a class="player" href="javascript:void(0);"
                           data-href="{base_url('chi-tiet-video')}.html"></a>
                        <h2>{$homeVideo.title}</h2>
                    </div>
                </div>
            </div>
            <!--NEWS-->
            <!--CONTACT-->
            <div class="group-left" data-name="contact-home">
                <div class="box-cover"></div>
                <div class="investor mobile">
                    <ul>
                        <li><a class="logo-angia vi" href="#" target="_blank"></a></li>
                        <li><a class="logo-creed vi" href="javascript:void(0);" target="_blank"></a></li>
                    </ul>
                </div>
                <div class="text-intro">
                    <h2>{$section2.title}</h2>
                    <div class="box-text">
                        {$section2.more}
                        <form method="POST" action="{base_url('lien-he')}.html"
                              accept-charset="UTF-8" id="register">

                            <div class="require-col">
                                <div class="input-text">
                                    <input id="subscription_customer_attributes_full_name" type="text"
                                           placeholder="Họ tên Quý khách"
                                           class="quantumWizTextinputPaperinputInput exportInput"
                                           autocomplete="off" name="username" required />
                                </div>
                                <div class="input-text">
                                    <input id="subscription_customer_attributes_email" type="email" value=""
                                           placeholder="Email" class="quantumWizTextinputPaperinputInput exportInput"
                                           name="email" required />
                                </div>
                                <div class="input-text">
                                    <input id="subscription_customer_attributes_phone" type="tel" value=""
                                           placeholder="Điện thoại"
                                           class="quantumWizTextinputPaperinputInput exportInput" name="phone" required />
                                </div>
                                <div class="input-but">
                                    <button class="button" id="btn-register-submit" type="submit">Đăng ký nhận thông tin</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--CONTACT-->
        </div>
        <!--LEFT CONTENT-->

        <!--RIGHT CONTENT-->
        <div class="box-right">
            <!--INTRO-->
            <div class="group-right" data-name="intro-home">
                <div class="box-cover-right"></div>
            </div>
            <!--INTRO-->
            <!--Su kien-->
            <div class="group-right" data-name="su-kien">
                <div class="box-cover-right" style="background-image:url({base_url()}images/{$section2.image})"></div>
            </div>
            <!--end su kien-->
            <!--LOCATION-->
            <div class="group-right" data-name="apartment-home2">
                <div class="box-cover-right" style="background-image:url({base_url()}images/{$section3.img})"></div>
            </div>
            <!--LOCATION-->
            <!--LOCATION-->
            <div class="group-right" data-name="location-home">
                <div class="box-cover-right"
                     style="background-image:url({base_url()}images/{$section4.img})"></div>
            </div>
            <!--LOCATION-->
            <!--FACILITIES-->
            <div class="group-right" data-name="facilities-home">
                <div class="box-cover-right"
                     style="background-image:url({base_url()}images/{$section5.img})"></div>
            </div>
            <!--FACILITIES-->
            <!--APARTMENT-->
            <div class="group-right" data-name="apartemnt-home">
                <div class="box-cover-right"
                     style="background-image:url({base_url()}images/{$section6.img})"></div>
            </div>
            <!--APARTMENT-->
            <!--NEWS-->
            <div class="group-right" data-name="news-home">
                <div class="box-cover-right"></div>
            </div>
            <!--NEWS-->
            <!--CONTACT-->
            <div class="group-right" data-name="contact-home">
                <div class="box-cover-right"></div>
            </div>
            <!--CONTACT-->
        </div>
        <!--RIGHT CONTENT-->
    </div>
</section>