<section class="container" id="library-page">
    <div class="title-page"><h1>Thư viện</h1></div>
    <div class="sub-nav">
        <ul>
            {foreach $libraries as $item}
            <li><a href="" data-name="{$item.slug}" data-title="{$item.meta_title}"
                   data-description="{$item.meta_description}"
                   data-keyword="{$item.meta_keywords}">{$item.name}</a></li>
            {/foreach}

        </ul>
    </div>
    <!--SLIDE CONTENT-->
    <div class="slider-about">
        <div class="pagination"></div>
        <div class="slide-bg">
            <div class="item-wrapper">
                {foreach $libraries as $key => $item}
                {if ($key == 0) }
                <div class="box-library item-container" data-hash="{$item.slug}"
                     data-href="<?php echo $url; ?>/thu-vien/hinh-anh.html"
                     data-title="{$item.meta_title}"
                     data-description="{$item.meta_description}"
                     data-keyword="{$item.meta_keywords}">
                    <div class="bg-cover"
                         style="background-image:url({base_url()}images/{$item.img})"></div>
                    <h2>{$item.name}</h2>
                    <div class="pic-center">
                        {foreach $libCategory as $lib}
                        <div class="box-library-picture">
                            <div class="pic-library"><img
                                        src="{base_url()}images/{$lib.img}"
                                        alt="{$lib.name}"></div>
                            <a class="view-album" href="javascript:void(0);"
                               data-href="{base_url('chi-tiet-thu-vien')}.html?num={$lib.id}"></a>
                            <div class="title-pic"><h3>{$lib.name}</h3></div>
                        </div>
                        {/foreach}
                    </div>
                </div>
                {else}
                <div class="box-library item-container" data-hash="{$item.slug}"
                     data-href="<?php echo $url; ?>/thu-vien/video-2.html"
                     data-title="{$item.meta_title}"
                     data-description="{$item.meta_description}"
                     data-keyword="{$item.meta_keywords}">
                    <div class="bg-cover"
                         style="background-image:url({base_url()}images/{$item.img})"></div>
                    <h2>{$item.name}</h2>
                    <div class="pic-center video-slide">
                        {foreach $videos as $vid}
                        <div class="box-library-video">
                            <div class="pic-library-video"><img
                                        src="{base_url()}images/{$vid.img}"
                                        alt="{$vid.title}"><a
                                        class="player" href="javascript:void(0);"
                                        data-href="{base_url('chi-tiet-video')}.html?num={$vid.id}"></a></div>
                            <div class="title-video"><h3>{$vid.title}</h3></div>
                        </div>
                        {/foreach}
                    </div>
                </div>
                {/if}
                {/foreach}
            </div>
        </div>
    </div>
    <!--SLIDE CONTENT-->
</section>