<section class="container" id="tiendo-page">
    <div class="sub-tiendo">
   <!--      <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#year2017" aria-controls="year2017" role="tab" data-toggle="tab">Năm 2017</a></li>
    <li role="presentation"><a href="#year2018" aria-controls="year2018" role="tab" data-toggle="tab">Năm 2018</a></li>
    <li role="presentation"><a href="#year2019" aria-controls="year2019" role="tab" data-toggle="tab">Năm 2019</a></li>
  </ul>
        <div class="tab-content tab-year">
        <div role="tabpanel" class="tab-pane active" id="year2017">
        	<div class="owl-carousel owl-carousel-slide owl-theme">
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>2</h4>
            </div>
            <div class="item">
              <h4>3</h4>
            </div>
            <div class="item">
              <h4>4</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>
            <div class="item">
              <h4>1</h4>
            </div>

            
          </div>
        </div>
    	<div role="tabpanel" class="tab-pane" id="year2018">Năm 2018</div>
    	<div role="tabpanel" class="tab-pane" id="year2019">Năm 2019</div>
      </div> -->
    </div>
</section>
<div class="">
            <div id="content">
                <div id="year">
                    <div class="bor">
                        <div class="item item-1" data-number="1">
                            <div class="bor-item">
                                <div>Năm 2017</div>
                                <span></span>
                            </div>
                        </div>
                        <div class="item item-2" data-number="2">
                            <div class="bor-item">
                                <div>Năm 2018</div>
                                <span></span>
                            </div>
                        </div>
                        <div class="item item-3 active" data-number="3">
                            <div class="bor-item">
                                <div>Năm 2019</div>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="year-item year-item-1">
                    <div class="dots">
                        <div class="item item-1 active" data-number="1">01</div>
                        <div class="item item-2" data-number="2">02</div>
                        <div class="item item-3" data-number="3">03</div>
                        <div class="item item-4" data-number="4">04</div>
                        <div class="item item-5" data-number="5">05</div>
                        <div class="item item-6" data-number="6">06</div>
                        <div class="item item-7" data-number="7">07</div>
                        <div class="item item-8" data-number="8">08</div>
                        <div class="item item-9" data-number="9">09</div>
                        <div class="item item-10" data-number="10">10</div>
                        <div class="item item-11" data-number="11">11</div>
                        <div class="item item-12" data-number="12">12</div>
                    </div>
                    <div class="owl-news owl-carousel owl-theme">
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 1 / 2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class=" demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 2 / 2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 3 / 2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                       Tiến độ dự án tháng 4 / 2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 5 / 2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 6 / 2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 7/2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 8/2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 9/2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 10/2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 11/2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 12/2017
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="year-item year-item-2">
                  <div class="dots">
                        <div class="item item-1 active" data-number="1">01</div>
                        <div class="item item-2" data-number="2">02</div>
                        <div class="item item-3" data-number="3">03</div>
                        <div class="item item-4" data-number="4">04</div>
                        <div class="item item-5" data-number="5">05</div>
                        <div class="item item-6" data-number="6">06</div>
                        <div class="item item-7" data-number="7">07</div>
                        <div class="item item-8" data-number="8">08</div>
                        <div class="item item-9" data-number="9">09</div>
                        <div class="item item-10" data-number="10">10</div>
                        <div class="item item-11" data-number="11">11</div>
                        <div class="item item-12" data-number="12">12</div>
                    </div>
                    <div class="owl-news owl-carousel owl-theme">
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 1 / 2018
                                    </div>
                                    <div class="col-lg-6">
                                        <div class=" demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 2 / 2018
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 3 / 2018
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                       Tiến độ dự án tháng 4 / 2018
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 5 / 2018
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="year-item year-item-3 active">
                   <div class="dots">
                        <div class="item item-1 active" data-number="1">01</div>
                        <div class="item item-2" data-number="2">02</div>
                        <div class="item item-3" data-number="3">03</div>
                        <div class="item item-4" data-number="4">04</div>
                        <div class="item item-5" data-number="5">05</div>
                        <div class="item item-6" data-number="6">06</div>
                        <div class="item item-7" data-number="7">07</div>
                        <div class="item item-8" data-number="8">08</div>
                        <div class="item item-9" data-number="9">09</div>
                        <div class="item item-10" data-number="10">10</div>
                        <div class="item item-11" data-number="11">11</div>
                        <div class="item item-12" data-number="12">12</div>
                    </div>
                    <div class="owl-news owl-carousel owl-theme">
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 1 / 2019
                                    </div>
                                    <div class="col-lg-6">
                                        <div class=" demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                <div class="col-lg-4" data-responsive="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-1.jpg" data-src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-1.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-2.jpg" data-src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-2.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-3.jpg" data-src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-3.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-3.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-4.jpg" data-src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-4.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-5.jpg" data-src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-5.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-5.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-6.jpg" data-src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-6.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/my-dinh-pearl-tien-do-thang-01-2019-image-6.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 2/2019
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 3 / 2019
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                       Tiến độ dự án tháng 4 / 2019
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bor">
                                <div class="row justify-content-center">
                                    <div class="title col-lg-12 text-center">
                                        Tiến độ dự án tháng 5 / 2019
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="demo-gallery">
                                            <div class="lightgallery list-unstyled row">
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/1-375.jpg" data-src="{base_url()}images/1-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-1.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/2-375.jpg" data-src="{base_url()}images/2-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-2.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/13-375.jpg" data-src="{base_url()}images/13-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-13.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                 <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" data-responsive="{base_url()}images/4-375.jpg" data-src="{base_url()}images/4-1600.jpg">
                                                    <a class="d-block" href="">
                                                        <img class="img-responsive w-100" src="{base_url()}images/thumb-4.jpg">
                                                    </a>
                                                </div>                                           
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
