<section class="container" id="library-page">
    <div class="title-page"><h1>Thư viện</h1></div>

    <!--SLIDE CONTENT-->
    <div class="slider-about">
        <div class="pagination"></div>
        <div class="slide-bg">
            <div class="item-wrapper">
                <div class="box-library item-container" data-hash="c-163"
                     data-href="<?php echo $url; ?>/thu-vien/hinh-anh.html"
                     data-title="{$utilityContent.meta_title}"
                     data-description="{$utilityContent.meta_description}"
                     data-keyword="{$utilityContent.meta_keywords}">
                    <div class="bg-cover"
                         style="background-image:url({base_url()}images/{$utilityContent.img})"></div>
                    <h2>{$utilityContent.title}</h2>
                    <div class="pic-center">
                        {foreach $utilities as $item}
                        <div class="box-library-picture">
                            <div class="pic-library"><img
                                        src="{base_url()}images/{$item.img}"
                                        alt="{$item.name}"></div>
                            <a class="view-album" href="javascript:void(0);"
                               data-href="{base_url('chi-tiet-tien-ich')}.html?num={$item.id}"></a>
                            <div class="title-pic"><h3>{$item.name}</h3></div>
                        </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--SLIDE CONTENT-->
</section>