<div class="video-list">
    <a class="close-video" href="javascript:void(0);" onclick="goBack()">close</a>
    <script>
        function goBack() {
            window.location.reload();
        }
    </script>
    <div class="video-wrap">
        <iframe width="100%" height="100$" src="{$homeVideo.link}" frameborder="0" allowfullscreen=""></iframe></div>
</div>