<section class="main-index">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="content">
                    <div id="bread-crumb">
                        <div class="box-2">
                            <i class="fa fa-home"></i> {anchor('', 'Trang chủ')}
                            <span>&gt;</span> 
                            Lỗi 404
                        </div>
                    </div>
                    <div class="icontent" itemprop="articleBody">

                        <div class="error">
                            {img('template/aie/images/404.jpg')}
                            <h3>Trang bạn tìm kiếm không tồn tại.</h3>
                            <p>Có thể URL bị hỏng hoặc đã bị quản trị viên xóa bỏ.</p>
                            {anchor('', 'Quay về trang chủ')}
                        </div>

                    </div>


                </div>
            </div>
            {include file="right.phtml"}
        </div>
    </div>
</section>