
<div class="noidung-tintuc">
    <div class="directional">
        <div class="container">
            <div class="row">
                <p>{anchor('', 'Trang chủ')}<span> > {$detail.name}</span></p>
            </div>
        </div>
    </div>
    <div class="content-news">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="content-news-left">
                        {foreach $rows as $row}
                        <div class="content-news-block">
                            <div class="media">
                                <a class="pull-left" href="{base_url()}{$row.cate_alias}/{$row.alias}.html">
                                    <img class="media-object" src="{base_url()}{$row.img}" alt="{$row.name}">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">{$row.name}</h4>
                                    {$row.more}
                                    <p><a href="{base_url()}{$row.cate_alias}/{$row.alias}.html">Đọc thêm</a></p>
                                </div>
                            </div>
                        </div>
                        {/foreach}

                        {if isset($config)}
                        <div class="phantrang">
                            {$this->pagination->initialize($config)}
                            {$this->pagination->create_links()}
                        </div>
                        {/if}


                    </div>
                </div>
                {include file="right.phtml"}
            </div>
        </div>
    </div>
</div>	

