<section class="main-index">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div id="content">
                    <div id="bread-crumb">
                        <div class="box-2">
                            <i class="fa fa-home"></i> {anchor('', 'Trang chủ')}
                            <span>&gt;</span> 
                            {anchor('tu-vam', 'Tư vấn')}
                            <span>&gt;</span> 
                            {$detail.name}
                        </div>
                    </div>
                    <div class="xitem_block clearfix nobrd">
                        <div class="xs item_head">
                            <h1>{$detail.heads}</h1>
                        </div>
                        <div class="sapor">
                            {$detail.more}
                        </div>
                    </div>
                    <div class="thumb">
                        {img(['src'=>'images/'|cat:$detail.img, 'alt'=>$detail.name, 'width'=>'100%', 'itemprop'=>'image'])}
                    </div>
                    <div class="spec2">
                        <i>•</i> Author : <span><strong>{$detail.fullname}</strong></span>
                        <i>•</i> <div class="fb-like" data-href="{current_url()}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                    </div>

                    <div class="icontent" itemprop="articleBody">
                        {$detail.content}
                    </div>
                    {include file="support.phtml"}
                    <div class="share clearfix">
                        <div class="sharelink">
                            <div class="fl fb">
                                <div class="fb-like" data-href="{current_url()}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            </div>
                        </div>
                    </div>

                    {if count($sames) > 0}
                    <div id="relate" class="clearfix">
                        <h5><span>Có thể bạn quan tâm</span></h5>
                        <ul>
                            {foreach $sames as $row}
                            <li class="clearfix"><i class="fa fa-circle"></i> <strong>{anchor('tu-van/'|cat:$row.alias, $row.name)}</strong></li>
                            {/foreach}
                        </ul>
                    </div>
                    {/if}
                    <div class="mrgt30">&nbsp;</div>
                    <h6 id="hh">Bình luận &amp; Hỏi đáp</h6>
                    <div id="cmt_list">
                        <div>
                            <div class="fb-comments" data-href="{current_url()}" data-numposts="5" data-width="100%" data-mobile="true" data-order-by="reverse_time"></div>

                        </div>
                    </div>

                </div>
            </div>
            {include file="right.phtml"}
        </div>
    </div>
</section>