<section class="main-index">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div id="content">
                    <div id="bread-crumb">
                        <div class="box-2">
                            <i class="fa fa-home"></i> {anchor('', 'Trang chủ')}

                            <span>&gt;</span>
                            Tư vấn
                        </div>
                    </div>

                    <div class="page-title">
                        <h1>Tư vấn</h1>
                    </div>

                    {foreach $rows as $item}
                    <div class="item_block clearfix">
                        <div class="item_head">
                            <h3>{anchor('tu-van/'|cat:$item['alias'], $item['name'])}</h3>
                        </div>
                        <div class="thumb">{anchor('tu-van/'|cat:$item['alias'],img(['src'=>'images/'|cat:$item.img, 'alt'=>$item.name, 'width'=>'100%']))}</div>
                        <div class="sapo">
                            {$item['more']}
                        </div>
                    </div>
                    {/foreach}


                    {if isset($config)}
                    <div id="page" class="clearfix">
                        <div class="i">
                            {$this->pagination->initialize($config)}
                            {$this->pagination->create_links()}
                        </div>
                    </div>
                    {/if}

                </div>
            </div>
            {include file="right.phtml"}
        </div>
    </div>
</section>